/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .radio-text h2 {
	color: #ef4043;
}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  .radio-text h2 {
	color: #125b12;
}
  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .radio-text h2 {
	color: #9eb29e;
}
.welcome-radio-station {
	height: auto;
}
.radio-content-table {
	display: block;
	height: auto;
}
.logo,.mainmenu,.footer-area,.footer-area ul {
	text-align: center;
}
.footer-area {
	position: relative;
}
.footer-area ul li {
	margin-right: 10px;
}
.radio-text {
	padding-top: 170px;
	text-align: center;
	padding-bottom: 50px;
}
.radio-form button[type="submit"] {
	margin-top: 18px;
	margin-bottom: 20px;
}
.radio-text h2 {
	font-size: 40px;
}
.radio-text p {
	font-size: 12px;
}
.radio-form {
	margin-top: 40px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 .radio-text h2 {
	color: #e1ec2c;
}
}