/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.welcome-radio-station {
	background-image: url(../images/slideimg.jpg);
	background-position: center;
	background-size: cover;
}
.welcome-radio-station {
  height: 100%;
  position: relative;
  z-index: 1;
}
.welcome-radio-station:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: "";
  opacity: .8;
  z-index: -1;
}
.radio-station-area {
	padding-top: 20px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
}
.logo a {
  font-size: 16px;
  font-weight: 700;
  color: #ef4043;
}
.logo img {
	max-width: 55px;
	padding-left: 10px;
	margin-top: 5px;
}
.mainmenu {
	margin-top: 6px;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  display: inline-block;
  margin-left: 35px;
}
.mainmenu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
}
.mainmenu ul li.bordered-item a {
	border: 1px solid #ef4043;
	padding: 10px 30px;
	border-radius: 50px;
	background: #fff;
	color: #ef4043;
	opacity: .7;
	font-weight: 700;
}
.radio-content-table {
  display: table;
  height: 100%;
  width: 100%;
}
.radio-content-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.footer-area {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #000;
	padding: 10px 0px;
	z-index: 9;
}
.footer-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-area ul li {
  display: inline-block;
  margin-left: 10px;
}
.footer-area,.footer-area ul li a {
  color: #838683;
}
.radio-text h2 {
	font-size: 50px;
	line-height: 55px;
	font-weight: 700;
	color: #42413e;
}
.radio-form input[type="email"] {
	border: none;
	background: #fff;
	padding: 14px 30px;
	color: #000;
	width: 300px;
	font-size: 15px;
	font-weight: 400;
	margin-right: 5px;
}
.radio-form button[type=submit] {
  background: #ef4043;
  border: none;
  padding: 15px 30px;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.radio-form p {
  margin: 0;
  padding: 8px 0px;
  line-height: 16px;
}
.radio-form {
  margin-top: 140px;
}
.social-icons a {
  color: #42413e;
  padding: 0 10px;
}

