/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .ordered-btn {
	padding: 11px 20px;
	font-size: 14px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.section-padding {
	padding: 40px 0px;
}
.single-pricing-table {
	width: 100%;
}
.single-pricing-table {
	width: 100%;
	display: block;
}
.single-pricing-table.active {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.pricing-table {
	padding-left: 10px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.single-pricing-table {
	margin-bottom: 60px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}