/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .testimonial-carousel-active::before {
	top: 0;
	left: 0px;
}
 .testimonial-carousel-active::after{
	bottom: 0;
	right: 0px;
}
.testimonial-content p {
	font-size: 15px;
	margin-top: 15px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}