/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
	color:#fff;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.testimonial-bg{background-image:url(../images/slidebg.jpg)}

.gallery img {
	max-width: 100px;
	border-radius: 50%;
	margin: 0 auto;
}
.single-testimonial {
  text-align: center;
}

.testimonial-content p {
  font-style: italic;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 20px;
}
.single-testimonial h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.single-testimonial span {
  display: block;
  font-size: 10px;
  line-height: 11px;
  font-weight: 300;
  font-style: italic;
}
.section-padding {
  padding: 80px 0;
}
.testimonial-carousel-active:before,.testimonial-carousel-active:after{font-family:fontawesome;position:absolute;font-size:25px;}
.testimonial-carousel-active::before {
	content: "\f10d";
	top: 30%;
	left: -19px;
}
.testimonial-carousel-active::after {
	content: "\f10e";
	bottom: 23%;
	right: -19px;
}
.testimonial-carousel-active .owl-dots div {
  width: 15px;
  height: 15px;
  background: #fff;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
}
.testimonial-carousel-active .owl-dots {
  position: absolute;
  left: 46%;
  bottom: -62px;
}
.testimonial-carousel-active .owl-dots div.active {
  background: #2e4450;
  transition:.5s;
}


