@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,300,400');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
h2{font-size:32px;}
body {
	font-family: 'Ubuntu', sans-serif;
	font-weight:300;
	font-size:15px;
	line-height:1.74;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}


.section-padding {
  padding: 50px;
}
.contact-form-bg{background-image: url(../images/bg3.jpg);}

.contact-form-area {
  position: relative;
  padding: 80px;
  color: #fff;
}
.contact-form-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  content: "";
}
.contact-form-bg {
  background-position: center;
  background-size: cover;
  background-color: #ddd;
  z-index: 1;
}
.contact-form-area .row {
  z-index: 2;
  position: relative;
}
.contact-form-bg:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #5FB3E5;
  opacity: .7;
  z-index: -1;
}
.contact-form {
    margin-left: 100px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 20px #E9E9E9;
}
.contact-form input[type="text"], .contact-form textarea {
    width: 100%;
    border: none;
    padding: 10px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-top: 4px;
    border: 1px solid #ddd;
    background: #E9E9E9;
}
.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
  background: #009812;
  border: none;
  box-shadow: 0 0 4px #087812;
}