/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
html, body, .full-height {
  height: auto;
}
.section-content.skrollable.skrollable-between {
  margin-bottom: 156px;
  margin-top: 100px;
}
.video-btn.skrollable {
  height: 100%;
  margin-bottom: 200px;
  margin-top: 200px;
}
.section-content.skrollable.skrollable-between {
  display: none;
}
.section-padding.bg-1.skrollable.skrollable-between {
  background-image: none;
}
.section-padding.bg-2.skrollable.skrollable-between {
  background-image: none;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}