/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   .section-content p.heading-info {
  font-size: 33px;
}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.section-photo {
  margin-top: 45px;
}
  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .section-content p.heading-info {
  font-size: 18px;
  line-height: 33px;
}
.section-content {
  padding-left: 0;
  padding-right: 0;
}
a.view-btn {
  margin-bottom: 30px;
  margin-top: 16px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}