@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
	color: #9b9b9c
}
h2{font-size:32px;}
body {
   font-family: 'Open Sans', sans-serif;
   font-size:17px;
   color:#565656;
   background:#EFEFF1;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

.section-padding {
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
}
.section-content h6 {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: -27px;
}
.section-content {
  padding-bottom: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 0;
  text-align: center;
}
.section-content p.heading-info {
  color: #000;
  font-size: 35px;
  line-height: 38px;
}
.section-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 30px;
  padding-bottom: 0;
  padding-top: 0;
}
a.view-btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #454bed;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 17px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 17px;
}

.section-photo img {
    box-shadow: 0 0 20px #bdbdbf;
    position: relative;
    width: 50%;
}
.section-photo img:nth-child(2) {
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 2;
}
.section-photo img:nth-child(3) {
    bottom: -25%;
    left: -30px;
    position: absolute;
    right: auto;
    width: 60%;
    z-index: 3;
}

