/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .single-blog-icons {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.single-blog-icons > a {
  height: 25px;
  line-height: 25px;
  width: 25px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .single-blog-item span {
  margin-bottom: 10px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}