@import url('https://fonts.googleapis.com/css?family=Abel');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
  font-family: 'Abel', sans-serif;
   font-size:17px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}


.section-padding {
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
}
.faculties-content {
    padding-bottom: 50px;
}

.faculties-content h2 {
    font-size: 35px;
    line-height: 25px;
}
.faculties-content p {
    color: #dbdbdb;
    font-size: 14px;
}
.single-blog-item:hover>.single-blog-icons{
	opacity:1;
	bottom: 30px;
	transform:scale(1);
}
.single-blog-icons {
  background-color: #5ba939;
  bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  opacity:0;
  transition:.5s;
  transform:scale(.2);
}
.single-blog-icons > a {
  border:1px solid #ddd;
  border-radius:8px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 6px;
  text-align: center;
  width: 30px;
}
.single-blog-item h3 {
    font-size: 25px;
    line-height: 18px;
    text-align: center;
}
.single-blog-item span {
  color: #5ba939;
  display: block;
  line-height: 15px;
  text-align: center;
}


