/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 img {
  height: 341px;
  max-width: 110%;
} 
.margin-minus a.bordered-btn {
  margin-top: 48px;
}
.boxed-content::after {
  bottom: 75px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.boxed-content h2 {
  font-size: 20px;
}
.boxed-content::after {
  bottom: 76px;
}
.boxed-content {
  padding-left: 2px;
  padding-top: 22px;
  font-size: 13px;
  line-height: 25px;
}
.bordered-btn {
  font-size: 9px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.author-name::before {
  top: 51%;
  width: 44px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}