@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
   font-family: 'Open Sans', sans-serif;
   font-size:17px;
   color:#565656;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}
.section-padding{padding:80px 0}
.fullwidth-bg-area {
  background-image: url("../images/bg3.jpg");
  background-position-x: center;
  background-position-y: center;
}

.fullwidth-bg-area {
}
.fullwidth-bg-area {
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 70px;
}
.margin-minus {
    margin-bottom: -70px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -70px;
    padding:120px 70px;
}
.dark-bg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2b2f41;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.boxed-content {
    color: #fff;
    font-size: 17px;
    line-height: 36px;
    padding-top: 20px;
}
.boxed-content h2 {
    color: #fff;
    font-size: 40px;
}
.author-name span {
  color: #66666e;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
}
.author-name {
  color: #fff;
  margin-top: 15px;
  padding-left: 56px;
  position: relative;
}
.author-name::before {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #fff;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  content: "";
  height: 2px;
  left: 0;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 55px;
}
.bordered-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #cda973;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: #cda973;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #cda973;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #cda973;
    border-top-style: solid;
    border-top-width: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 900;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}
.margin-minus a.bordered-btn {
  margin-left: 15px;
  margin-top: 10px;
}
.author-name span {
    color: #66666e;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}
.boxed-content {
  padding-left: 20px;
  padding-top: 30px;
  position: relative;
}
.boxed-content::before {
    border-left-color: #66666e;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-color: #66666e;
    border-top-style: solid;
    border-top-width: 1px;
    content: "";
    height: 50px;
    left: -40px;
    position: absolute;
    top: 0px;
    width: 50px;
}
.boxed-content::after {
    border-right:1px solid #66666e;
    border-bottom:1px solid #66666e;
    content: "";
    height: 50px;
    right: -50px;
    position: absolute;
    bottom: 30px;
    width: 50px;
}
