@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
body {
   font-family: 'Open Sans', sans-serif;
   font-size:17px;
   color:#565656;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}
.overlay-gradian-wrap{background-image:url(../images/bg.jpg)}
.overlay-gradian-wrap{
	position:relative;
	z-index:1;
	
}
.overlay-gradian-wrap:after{
	background: #22146b;
	background: -moz-linear-gradient(-45deg, #22146b 0%, #eaa6c6 99%);
	background: <-webkit-linea></-webkit-linea>r-gradient(-45deg, #22146b 0%,#eaa6c6 99%);
	background: linear-gradient(135deg, #22146b 0%,#eaa6c6 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22146b', endColorstr='#eaa6c6',GradientType=1 );
}
.overlay-gradian-wrap::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity:.9;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  display: inline-block;
}
.mainmenu ul li a {
	display: block;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	text-transform: capitalize;
	padding: 30px;
	opacity: .5;
}
.mainmenu ul li:hover a {
	opacity: 1;
}

.header-area {
  position: relative;
  z-index: 1;
}
.header-area:after {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 1px;
  content: "";
  z-index: -1;
  opacity: .5;
}
.logo {
  padding-top: 30px;
}
.hero-text h2 {
  font-size: 45px;
  font-weight: 300;
  color: #fff;
}
.hero-text {
	color: #fff;
	padding: 100px 0;
	padding-bottom: 200px;
}
.hero-buttons {
	margin-top: 80px;
	margin-bottom: 50px;
}
.hero-buttons a {
  color: #fff;
  padding: 15px 45px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
}
.unlined-btn {
  text-decoration: underline;
}
.bordered-btn {
  border: 1px solid #fff;
}
.mobile-screen {
	position: absolute;
	right: 0;
	bottom: 0;
}






