/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   .slicknav_menu {
	display: none;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .logo,.mainmenu {
	text-align: center;
} 
.mainmenu ul li a {
	padding: 18px;
	padding-left: 20px;
}
.mainmenu ul li a {
	padding-left: 15px;
}
.hero-area {
	text-align: center;
}
.hero-area h2 {
	font-size: 20px;
	line-height: 1.7;
	margin-top: 13px;
}
.single-porfolio-item {
	width: 100%;
	float: none;
}
.section-padding.dark-bg h2 {
	font-size: 15px;
}
.section-padding.dark-bg p {
	font-size: 11px;
	font-weight: 600;
}
.footer-area p,.text-right {
	text-align: center;
}
.social-icon {
	margin-left: -18px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}