/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.single-porfolio-item{
    background-image: url(../images/item-1.jpg);
}
.single-porfolio-item.small-item-1{
    background-image: url(../images/item-2.jpg);
}
.single-porfolio-item.small-item-2{
    background-image: url(../images/item-3.jpg);
}
.single-porfolio-item.item-4{
    background-image: url(../images/item-4.jpg);
}

.header-area.header-absolute,.header-area.header-absolute a{
    color: #fff;
}
.header-area.header-absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 50px 0px;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}
.mainmenu {
  text-align: right;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  display: inline-block;
  padding-right: 0px;
}
.mainmenu ul li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  padding-right: 0;
  padding-left: 60px;
}
.hero-area {
  background: #1D1E20;
}
.hero-area {
  color: #fff;
  padding-bottom: 100px;
  padding-top: 180px;
}
.hero-area p,.hero-area p a {
  color: #515558;
}
p.text-style {
  text-transform: uppercase;
  margin: 0;
}
.hero-area h2 {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 15px;
}
.hero-area p i {
  margin-left: 5px;
}

.hero-area h2 span {
  color: #E3BB1E;
  text-transform: uppercase;
}
.blog-feature-area h2 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    text-transform: capitalize;
}

.blog-feature-area {
  padding: 100px 0px;
}
.yellow-bg {
  background: #E3BB1E;
}
.single-porfolio-item {
  height: 350px;
  margin-left: 2%;
  width: 60%;
  float: left;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  background-color: #ddd;
  margin-top: 10px;
}
.portfolio-product {
  margin-left: -2%;
  overflow: hidden;
}
.small-item-1,.small-item-2 {
  width: 36%;
}
.section-padding {
  padding: 80px 0px;
  color: #515558;
}
.section-padding.dark-bg {
  background: #1D1E20;
}
.section-padding.dark-bg h2 {
  color: #fff;
}
.section-padding.dark-bg p {
  margin-top: 25px;
}
.boxed-btn {
  border: 1px solid #E3BB1E;
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 45px;
}
.section-padding.dark-bg a {
  color: #E3BB1E;
  font-weight: 700;
  margin-top: 30px;
}

.footer-area {
  background: #1D1E20;
  border-top: 1px solid;
  padding: 20px 0px;
}

.social-icon a {
  color: #fff;
  font-size: 18px;
  padding-left: 25px;
  transition: .4s;
  display: inline-block;
}
.social-icon a:hover{
    color: #E3BB1E;
}
.footer-area p {
  color: #515558;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
}