/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
   h2.short-line::before {
	position: absolute;
	background: #000;
	content: "";
	width: 70px;
	height: 3px;
	left: 20%;
	bottom: -7px;
	margin-left: 0px;
}
}
/* Mobile Layout: 768px. */
@media(max-width:768px) {
    .map {
        height: 75%;
    }
}
