/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland|Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}
.middle-logo h3{font-family: 'Herr Von Muellerhoff', cursive;}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.welcome-hero-area {
	background-image: url(../images/slideimg.jpg);
	background-position: top center;
	background-size: cover;
}
.welcome-hero-area {
	height: 100%;
	position: relative;
	z-index: 1;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu ul li {
  display: inline-block;
}
.mainmenu ul li a {
  display: block;
  color: #fff;
  font-weight: 300;
  padding-left: 40px;
  text-transform: uppercase;
}
.mainmenu ul li a.active{
	text-decoration:underline;
}
.logo h1 a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 4px;
  position: relative;
  padding-bottom: 3px;
}
.logo h1 a:after {
  position: absolute;
  background: #fff;
  width: 70px;
  height: 2px;
  content: "";
  bottom: 0;
  left: 0;
}
.header-area {
	padding-top: 20px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.logo h1 {
  margin: 0;
}
.mainmenu {
  margin-top: 4px;
}

.hero-area-table {
  display: table;
  width: 100%;
  height: 100%;
}
.hero-area-tablecell {
  display: table-cell;
  vertical-align: middle;
}

.scroll-top-about {
  position: absolute;
  left: 50%;
  bottom: 30px;
  color: #fff;
  font-size: 45px;
  width: 40px;
  height: 40px;
  margin-left: -20px; 
}

.middle-logo h3 {
	font-size: 100px;
	color: #c09c5e;
	margin: 9px;
}
.middle-logo {
  color: #fff;
}
.middle-logo h2 {
  font-size: 35px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0;
}
.middle-logo h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
}

.bordered-area {
  overflow: hidden;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 18px;
}
.left-bordered,.right-bordered {
  width: 40%;
  height: 2px;
  background: #fff;
  float: left;
  margin-top: 6px;
  position:relative;
}
.bordered-area i.fa {
  float: left;
  margin: 0 12px;
  color: #c09c5e;
}
.right-bordered::after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 15px 7.5px 0;
	border-color: transparent #ffffff transparent transparent;
	position: absolute;
	right: -3px;
	top: -6px;
	content: "";
}
.left-bordered::after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 15px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	left: -3px;
	top: -6px;
    content: "";
}
