/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.service-item-bg {
  height: 150px;
  width: 291px;
}
.service-item-bg h3 {
	font-size: 16px;
	left: 15%;
	width: 70%;
} 
.service-content-box {
  font-size: 12px;
  line-height: 27px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
} 
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.service-item-bg {
  height: 138px;
  width: 218px;
}
.service-item-bg h3 {
  font-size: 15px;
}
.service-content-box {
  font-size: 13px;
  line-height: 25px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 40px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .service-item-bg {
  background-position: center;
}
.service-item-bg h3 {
  font-size: 16px;
}
.faculties-content h2 {
  font-size: 25px;
}
.service-content-box {
  font-size: 15px;
  line-height: 38px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 33px;
}
.single-service-content {
  margin-bottom: 20px;
}
.faculties-content p {
  color: #c2c2c2;
  font-size: 9px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}