@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
  font-family: 'Roboto', sans-serif;
   font-size:17px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

.service-item-bg-1{background-image:url(../images/bg1.jpg)}
.service-item-bg-2{background-image:url(../images/bg2.jpg)}
.service-item-bg-3{background-image:url(../images/bg3.jpg)}
.single-service-content{
	border:1px solid #ddd;
}
.service-item-bg {
  background-color: #ddd;
  background-size: cover;
  height: 200px;
  position: relative;
}
.service-item-bg h3 {
    background-color: #f97230;
    bottom: -35px;
    color: #fff;
    display: block;
    left: 10%;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    width: 80%;
	transition:.9s;
	opacity:0;
}
.single-service-content:hover>.service-item-bg h3{
	opacity:1;
}
.service-content-box {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}
.single-service-content a {
  color: #000;
  display: block;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.single-service-content i.fa {
    margin-left: 30px;
	transition:.9s;
	opacity:0;
}
.section-padding {
   padding:100px 0px;
}

.faculties-content p {
    margin-bottom: 45px;
}
.single-service-content{
	transition:.5s;
}
.single-service-content:hover{
	border-color:#f97230;
}
.single-service-content:hover a > i.fa {
    color: #f97230;
	margin-left: 8px;
	opacity:1;
}

.faculties-content h2 {
    font-size: 40px;
    text-transform: uppercase;
}
.faculties-content p {
    color: #c2c2c2;
    font-size: 15px;
}
