@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
   font-family: 'Open Sans', sans-serif;
   font-size:17px;
   color:#565656;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

.single-full-width-slide{background-image:url(../images/bg3.jpg)}

.single-full-width-slide {
    background-color: #ddd;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 600px;
    margin-bottom: 30px;
    position: relative;
}
.full-width-slide-text {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.slide-content {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #2185c5;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  color: #fff;
  font-size: 17px;
  line-height: 1.9;
  padding-bottom: 40px;
  padding-right: 150px;
  padding-top: 60px;
  position: relative;
}
.slide-content::before {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #2185c5;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  content: "";
  height: 100%;
  left: -1000%;
  position: absolute;
  top: 0;
  width: 1000%;
}
.slide-content::after {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #2185c5;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  content: "";
  height: 40px;
  position: absolute;
  right: -20px;
  top: 60px;
  transform: rotate(45deg);
  width: 40px;
}
.slide-content h2 {
    color: #fff;
    font-family: open sans;
    font-weight: 300;
}
.btn-more {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #3e4043;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  margin-top: 30px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 14px;
  text-transform: uppercase;
}
/* overlay */
.overlay {
  position: relative;
}

.overlay-content {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #000;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #fff;
    opacity: 0.5;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 150px;
    padding-top: 60px;
}
.overlay-content h2 {
    color: #fff;
    font-family: open sans;
    font-weight: 300;
}
.overlay-content::before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #000;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 100%;
    left: -1000%;
    position: absolute;
    top: 0;
    width: 1000%;
}
.overlay-content::after {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #000;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  content: "";
  height: 40px;
  position: absolute;
  right: -20px;
  top: 60px;
  transform: rotate(45deg);
  width: 40px;
  opacity: 0.5;
}

















