
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0 0 15px;
  font-weight:700;
}
body {
  background-color: #F8F8F7;
  color: #b3b3b3;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  line-height: 30px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */

section.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 40px;
    text-align: center;
}
.section-title h1 {
  font-size: 25px;
  position: relative;
  padding-bottom: 5px;
}
.section-title h1:before {
  position: absolute;
  content: "";
  background: #2ECC71;
  width: 40px;
  height: 2px;
  left: 50%;
  bottom: 0;
  margin-left: -20px;
}
.single-blog-item {
    background-color: #fff;
    padding: 0 0 20px;
	transition:.5s;
	cursor:pointer;
}
.single-blog-item:hover>.single-blog-bg{opacity:.7;}
.single-blog-item:hover {
  box-shadow: 0 0 10px #2ecc71;
}
.single-blog-bg {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 225px;
	transition:.5s;
}
.meta-content {
    margin-top: 20px;
}

.single-blog-bg {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 225px;
}
.meta-content {
  margin-top: 20px;
  padding: 0 15px;
}
.single-blog-item a .see-more-btn {
    background-color: #108da8;
    padding: 10px 20px;
}
.see-more-btn {
  background-color: #fff;
  border-radius: 50px;
  color: #2ECC71;
  display: inline-block;
  font-weight: 700;
  margin-top: 20px;
  padding: 7px 0px;
  margin-left:20px;
  transition:.5s;
  font-size:12px;
}
.see-more-btn:hover{ background-color: #2ECC71;color:#fff;
  padding: 7px 40px;}
.see-more-btn i.fa {
  padding-left: 10px;
}
.meta-content h2 {
    color: #000;
    font-size: 15px;
}

.single-blog-bg-1{background-image:url(../images/bird.jpg);}
.single-blog-bg-2{background-image:url(../images/bird1.jpg);}
.single-blog-bg-3{background-image:url(../images/bird2.jpg);}
.single-blog-bg-4{background-image:url(../images/bird3.jpg);}


















