
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
}
body {
  color: #b3b3b3;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  line-height: 30px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */

.section-padding {
    padding: 80px 0;
}
.section-title {
  margin-bottom: 40px;
  text-align: center;
}
.section-title h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.owl-carousel .owl-item .single-staff-item img {
  border-radius: 50%;
  max-width: 325px;
  width: 160px;
}
.staff-meta {
    margin-top: 40px;
}
.our-staff .owl-nav div {
  background: #f3f3f3 none repeat scroll 0 0;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  text-align: center;
  width: 50px;
}
.our-staff .owl-nav div:hover{
	background:#3399FF;
   color:#fff;
   }
.our-staff .owl-nav {
  position: absolute;
  right: 0;
  top: -89px;
}