/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Varela+Round');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.single-product-item {
	text-align: center;
	margin-top: 50px;
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
}
.single-product-item:hover .single-item-table{background:none;}
.single-item-table {
	display: table;
	width: 100%;
	height: 270px;
	background: #F1F1F1;
	padding: 0px 30px;
	-webkit-transition: .5s;
	transition:.5s;
}
.single-item-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.section-padding {
  padding: 80px 0;
}
.section-title h2 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #363636;
  margin-bottom: 110px;
}
.single-product-item h4 {
	font-size: 18px;
	color: #8F8F8F;
	line-height: 4px;
	margin-top: 35px;
}
.colored-item {
  color: #FC4D4F;
  font-size: 25px;
  font-weight: 700;
  line-height: 17px;
}

.single-product-item:after {
  position: absolute;
  background:url(../images/map.png) no-repeat scroll center top #3B3B3B;
  background-size:cover;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index:-1;
  opacity:0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: .5s;
  transition:.5s;
}
.single-product-links {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: left;
	padding: 0px 27px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility: hidden;
    -webkit-transition: .5s;
    transition:.5s;
}
.single-product-links a {
  color: #707070;
  display: inline-block;
  width: 22px;
  height: 40px;
  text-align: center;
  line-height: 33px;
  font-size: 15px;
}
.single-product-links a.bordered-icon {
  border: 2px solid #BF5142;
  color: #fff;
  width: 50px;
}

.single-product-item:hover:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top: -10%;
  height: 120%;
}
.single-product-item:hover .single-product-links {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility:visible;
  top:-10px;
}