/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .video-area-bg {
	width: 41%;
}
.video-title {
	float: right;
	width: 350px;
}
ul.check-icon {
	float: right;
	width: 376px;
}

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .mfp-iframe {
	display: none;
}
.video-area-bg {
	display: block;
	width: 100%;
}
.video-title h2{
	font-size:30px;
	color:#fff;
	}
ul.check-icon {
	font-size:12px;
	color:#fff;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}