
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
	color:#333;
}
body {
	font-family: 'Lato', sans-serif;
	color:#9e9e9e;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */
.video-area {
	position: relative;
	padding: 80px 0;
}
.video-area-bg {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 45%;
	top: 0;
	box-shadow: 0 0 15px #555;
}
.video-area-bg {
	background-image: url('../images/bird.jpg');
	background-position: center;
	background-size: cover;
	background-color: #ddd;
	height: 100%;
}
.video-paly-btn {
	position: absolute;
	right: -40px;
	top: 50%;
	bottom: 0;
	background: #DA7A26;
	width: 90px;
	height: 85px;
	font-size: 36px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	margin-top: -50px;
	color: #151611;
}
.video-title h2 {
	font-size: 35px;
	text-transform: capitalize;
	font-weight: 700;
}
.video-title p {
	line-height: 20px;
	font-size: 15px;
}
ul.check-icon {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #333;
	text-transform: capitalize;
	font-weight: 600;
}
.check-icon li {
	position: relative;
	padding-left: 30px;
	padding-bottom: 10px;
}
.check-icon li::before {
	position: absolute;
	content: "\f00c";
	font-family: fontAwesome;
	left: 0;
	bottom: 7px;
	color: #DA7A26;
	font-size: 16px;
}