/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.colored-box {
  padding-left: 20px;
  padding-right: 0;
  padding-top: 30px;
}
.white-box {
  margin-right: 20px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.colored-box {
  margin-top: 30px;
  width: 681px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .colored-box {
  margin-top: 20px;
}
.white-box {
  width: 100%;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}