@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus{outline: 0 solid; }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
  font-family: 'Roboto', sans-serif;
   font-size:17px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}
.contact-form input,textarea:invalid:not(output) {
    box-shadow: 0 0 0 0 #000;
}
.section-padding {
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
}
.white-box {
    box-shadow: 0 0 10px #ddd;
    padding:30px;
	margin-right: 40px;
}
.white-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
textarea[name="message"] {
    height: 145px;
    resize: none;
}

input[type="text"],input[type="url"], input[type="email"], input[type="tel"], textarea[name="message"] {
    background-color: #F9F9F9;
	border:none;
	border-radius:5px;
	padding:15px;
}
.contact-form input, textarea {
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
    width: 100%;
}
input[type="submit"] {
    background-color: #4daefe;
    border-radius:5px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
    padding:20px 30px;
    text-transform: capitalize;
    width: auto;
	border:none;
}
.social-icons {
  margin-top: 40px;
}
.colored-box {
  background-color: #4daefe;
  color: #fff;
  min-height: 530px;
  padding: 20px 20px 20px 45px;
}
.colored-box h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.contact-info i.fa {
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 5px;
}
.contact-info {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  padding-left: 40px;
  position: relative;
}
.social-icons a {
   background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 3px #333;
  color: #000;
  display: inline-block;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin-right: 7px;
  text-align: center;
  width: 35px;
    transition: .3s
}
.social-icons a:hover {
    color: #4DAEFE;
    box-shadow: 0 0 0;
}
