/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .absolute-colored-box {
	width: 178px;
	text-align: center;
	right: 45px;
	bottom: 148px;
	height: 222px;
	padding-top: 50px;
}
.slider-text {
	text-align: center;
	margin-bottom: 30px;
}
.slide-carousel-active .owl-dots {
	left: 34%;
	bottom: 0;
}
.slide-carousel-active .owl-dots div {
	border-bottom: 3px solid #ddd;
	display: inline-block;
	padding: 0 10px;
}

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}