/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
	color:#fff;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.slide-bg{
	background-image:url(../images/darkbg.png);
	background-position:center;
	background-size:cover;
}

.absolute-colored-box {
	background: #FF4E4B;
	width: 243px;
	text-align: center;
	position: absolute;
	right: 230px;
	top: 0;
	z-index: -1;
	text-transform: uppercase;
	color: #aeaeae;
	height: 284px;
	padding-top: 40px;
}
.slider-text {
	padding-top: 70px;
}
.slider-text p {
	color: #aeaeae;
	line-height: 1.7;
	font-size: 13px;
}
.pricing-info img {
  position: relative;
  padding-top: 100px;
}
.shopping-cart {
	position: absolute;
	left: -20px;
	top: 27px;
	width: 40px;
	height: 40px;
	background: #fff;
	line-height: 40px;
	box-shadow: 0 0px 12px #000;
	transform: rotate(45deg);
}
.shopping-cart i.fa {
	color: #000;
	transform: rotate(-45deg);
}
.section-padding {
  padding: 100px 0px;
}

.pricing-info {
  position: relative;
  z-index:9999;
}
.slider-text h2 {
	font-size: 35px;
	text-transform: uppercase;
	line-height: 45px;
	position: relative;
	padding-bottom: 10px;
}
.slider-text h2::after {
	background: #FF4E4B;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20px;
	height: 2px;
	content: "";
}
.pricing-info p.amount {
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}
.absolute-colored-box h2 {
  font-size: 14px;
  line-height: 14px;
}

.slide-btn {
  border: 1px solid #FF4E4B;
  display: inline-block;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 600; 
  color: #fff;
  font-size: 10px;
  width: 140px;
  margin-top: 30px;
  position:relative;
}
.slide-btn:hover{color:#fff;font-weight:700;}
.slide-btn::before {
	background: #FF4E4B;
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	left: 0px;
	top: 0;
    transition:.3s;
	z-index: -1;
	opacity:0;
}
.slide-btn:hover:before{
	width:70%;
	opacity:1;
}
.slide-btn i.fa {
  float: right;
  padding-top: 8px;
  padding-right: 10px;
}
.owl-carousel .owl-item .pricing-info img{max-width:500px;display:inline-block;}

.slide-carousel-active .owl-dots div:nth-child(1) span:before{content:"01";}
.slide-carousel-active .owl-dots div:nth-child(2) span:before{content:"02";}
.slide-carousel-active .owl-dots div:nth-child(3) span:before{content:"03";}


.slide-carousel-active .owl-dots div {
  border-left: 3px solid #ddd;
  padding: 10px;
}
.slide-carousel-active .owl-dots {
  position: absolute;
  right: -8%;
  top: 19%;
}
.slide-carousel-active .owl-dots div.active {
  border-color: #FF4E4B;
  transition:.4s;
}





