/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   .slicknav_menu {
	display: none;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .section-img img {
	max-width: 100%;
	height: auto;
}
.section-content {
	margin-bottom: 50px;
	height: 271px;
}

.social-links {
	display: block;
	top: 34px;
}
.social-links {
	right: -21px;
}
.section-content {
	margin-top: 40px;
}
.right-side .social-links {
	right: -21px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}