/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/


.section-padding {
  padding: 60px 0px;
}
.section-title {
  margin-bottom: 50px;
}
.section-title h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
}
.section-title p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}
.section-img img {
  max-width: 70%;
  height: 500px;
}
.section-img {
  text-align: right;
}
.section-content {
  border: 8px solid #ddd;
  padding: 20px;
  position: relative;
  max-width: 450px;
  margin-top: -102px;
  background: #fff;
  height: 230px;
  padding-right: 50px;
  padding-left: 30px;
  text-align: justify;
}
.social-links a {
  background: #ddd;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  line-height: 40px;
  margin: 3px 0;
  transition: .4s;
}

.social-links a i.fa-facebook{color: #212878}
.social-links a i.fa-twitter{color: #00aeff}
.social-links a i.fa-google-plus{color: #f5392d}
.social-links a i.fa-linkedin{color: #0962c0}
.social-links a:hover{
    background: #00aeff;
    color: #fff;
}
.social-links a:hover i{
    color: #fff;
}
.social-links {
  display: table;
}
.social-links-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.social-links {
  position: absolute;
  right: -24px;
  top: 0;
  width: 40px;
  height: 100%;
}
.social-linksa i {
}
.right-side .section-img {
  text-align: left;
}
.right-side .section-content {
  float: right;
  padding-right: 20px;
  padding-left: 40px;
}
.right-side .social-links {
  left: -24px;
  right: auto;
}
.section-content h2 {
  text-align: center;
}