/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .side-bar-absolute-area,.hero-area {
	position: relative;
	height: auto;
	width: auto;
}
.mainmenu li{display: inline-block;}
.hero-area {
	margin-left: 0;
}
.hero-content-tablecell h1::after {
	margin-right: 41px;
}
.mainmenu li a {
	font-size: 14px;
}
.logo {
	margin: -21px 0px 0px;
}
.logo:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  background: #FFB700;
  border-radius: 50%;
  content: "";
  margin-left: -50px;
  z-index: -2;
  margin-top: -50px;
  opacity: .4;
} 
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}