/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .logo,.mainmenu,.copyright-text,.social-icons {
	text-align: center;
}
.slides-title {
	width: 100%;
	padding-left: 0px;
	text-align: center;
	padding: 0px 12px;
	padding-bottom: 100px;
	color: #808183;
}
.slides-title h2 {
	font-size: 25px;
	line-height: 33px;
}
.mainmenu ul li {
	padding-left: 10px;
}
.mainmenu ul li a {
	font-size: 13px;
}
.site-wrape-table {
	display: block;
	width: auto;
	height: auto;
}
.header-area,.footer_area{
	position: relative;
}
.site-wrape-tablecell {
	display: block;
}
.footer_area a {
	padding-left: 10px;
}
/* theme-2 */
.theme-2 .slides-title h2 {
	font-size: 25px;
	line-height: 33px;
}
.theme-2 .mainmenu ul li a {
	font-size: 10px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}