/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
html,
.theme-1 {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400; 
}

body.theme-2 {
	background: #718fa2;
background: -moz-linear-gradient(top, #718fa2 0%, #8f7f91 48%, #ab8277 100%, #207cca 100%, #ab8277 100%, #ab8277 100%, #ab8277 100%, #207cca 100%, #ab8277 100%, #ab8277 100%, #ab8277 100%);
background: -webkit-linear-gradient(top, #718fa2 0%,#8f7f91 48%,#ab8277 100%,#207cca 100%,#ab8277 100%,#ab8277 100%,#ab8277 100%,#207cca 100%,#ab8277 100%,#ab8277 100%,#ab8277 100%);
background: linear-gradient(to bottom, #718fa2 0%,#8f7f91 48%,#ab8277 100%,#207cca 100%,#ab8277 100%,#ab8277 100%,#ab8277 100%,#207cca 100%,#ab8277 100%,#ab8277 100%,#ab8277 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#718fa2', endColorstr='#ab8277',GradientType=0 );
font-family: 'Raleway', sans-serif;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/
body.theme-1 {
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-color: #F982E6;
    font-family: 'Raleway', sans-serif;
}

.site-wrape {
  height: 100%;
}
.site-wrape-table {
  display: table;
  width: 100%;
  height: 100%;
}
.site-wrape-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
}
.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 50px 80px;
}
.logo a {
  color: #4A5B63;
}
.mainmenu {
  text-align: right;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  display: inline-block;
  padding-left: 30px;
}
.mainmenu ul li a {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
/* slides-title */
.slides-title {
    width: 50%;
    padding-left: 80px;
    font-size: 18px;
    color: #ADAEB0;
}

.slides-title h2 {
  font-size: 40px;
  line-height: 47px;
  color: #303233;
}

/* footer_area */

.footer_area {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 80px;
    border-top: 1px solid #000;
    color: #B1A5AF;
}
.footer_area a {
  color: #B1A5AF;
  padding-left: 15px;
  font-size: 20px;
}
.slides-title p a {
    color: #7C5F79;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 10px;
}
.copyright-text {
    padding-top: 10px;
    color: #9B9B9B;
    font-weight: 500;
}
.social-icons {
    text-align: right;
    padding-top: 10px;
}

/* theme-2 css start */

.theme-2 .site-wrape {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #ddd;
    margin:5%;
}
.theme-2 .slides-title {
    padding: 80px 80px;
}
.theme-2 .slides-title h2 {
    font-size: 36px;
}
.theme-2 .header-area {
  position: relative;
}
.theme-2 .footer_area {
  position: relative;
  margin-top: 70px;
}
