@import url('https://fonts.googleapis.com/css?family=Changa+One|Roboto:400,700,900,900i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
   font-family: 'Changa One', cursive;
   font-size:17px;
   color:#fff;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}
.single-product{background-image:url(../images/photo1.jpg)}
.single-product-bg-2{background-image:url(../images/photo2.jpg)}
.single-product-bg-3{background-image:url(../images/photo3.jpg)}

.section-padding {
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
}
.single-product {
  background-color: #ddd;
  cursor: pointer;
  display: block;
  height: 250px;
  margin-bottom: 30px;
  position: relative;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}
.single-product:hover {
    transform: scale(1.05);
	box-shadow:0 0 10px #000;
}

.hover-content {
  bottom: -26px;
  font-size: 15px;
  left: 0;
  line-height: 14px;
  opacity: 0;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  width: 100%;
}
.hover-content h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}
.single-product:hover .hover-content {
    bottom: 26px;
    opacity: 1;
}

.scrollToTop {
  bottom: 0;
  font-weight: bold;
  height: 111px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: fixed;
  right: 5px;
  text-align: center;
  width: 100px;
}
.scrollToTop:hover{
	text-decoration:none;
}
a.scrollToTop i.fa {
  background-color: #000;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

