
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
}
body {
  color: #b3b3b3;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  line-height: 30px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */

.item-bg-1{background-image: url(../images/item-1.jpg);}
.item-bg-2{background-image: url(../images/item-2.jpg);}
.item-bg-3{background-image: url(../images/item-3.jpg);}
.item-bg-4{background-image: url(../images/item-4.jpg);}
.item-bg-5{background-image: url(../images/item-5.jpg);}

.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 50px;
}
.section-title p {
  font-size: 21px;
}
.hover-text{position: relative;}
.hover-text {
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 45px;
  color: #fff;
}
.hover-text h2,a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.hover-text p {
  margin: 0;
}
.browse-btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 25px;
  border-radius: 50px;
  margin-top: 20px;
  transition: .3s;
}
.section-title h1 {
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
}
.section-title p span {
  color: #f96065;
}
.single-listing-item {
  background-color: #ddd;
  height: 280px;
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.single-listing-item:after {
  background: #ddd;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: .3;
}
.single-listing-item:hover .browse-btn{background: #FF0000;border-color: #FF0000;}
.listing-carousel-active .owl-dots div {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #BEBEBE;
  border-radius: 50%;
}
.listing-carousel-active .owl-dots {
  text-align: center;
  margin-top: 30px;
}
.listing-carousel-active .owl-dot.active {
  background: #BEBEBE;
}

.listing-carousel-active .owl-stage-outer {
  overflow: inherit;
}
.section-padding.listing-carousel-wrapper {
  overflow-x: hidden;
}
.listing-carousel-active {
  position: relative;
}

.listing-carousel-active:before,.listing-carousel-active:after {
  position: absolute;
  background: #fff;
  content: "";
  left: -500%;
  top: 0;
  width: 500%;
  height: 100%;
  z-index: 1;
  opacity: .5;
}
.listing-carousel-active:after {
  right: -500%;
  left: auto;
}
.top-to-scroll {
  position: absolute;
  right: 6px;
  width: 40px;
  height: 40px;
  background: red;
  text-align: center;
  border-radius: 50%;
  line-height: 34px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  top: 109%;
}