/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Roboto:300,300i,400,400i,500,500i,700,700i');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}


h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 40px;
    font-weight: 700;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.food-box-bg{background-image: url(../images/img-2.jpg);}
.food-box-bg-2{background-image: url(../images/img-1.jpg);}
.food-box-bg-3{background-image: url(../images/img-3.jpg);}

.food-box-bg {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  margin-left: -15px;
  margin-right: -15px;
}
.food-box-info {
    background: #F3F4F4;
    border-top: 4px solid #D19735;
    padding: 35px 40px;
    text-align: center;
    margin-top: -100px;
    margin-left: 15px;
    margin-right: 15px;
    transition: .4s;
}
.food-box-info h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #D19735;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.food-box-info p {
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
}
.food-box-info p span {
    font-size: 40px;
}
.box-btn {
    font-size: 12px;
    color: #D19735;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #D19735;
    display: inline-block;
    padding: 8px 35px;
    margin-top: 20px;
    transition: .4s;
}
.single-foods-item{
    cursor: pointer;
}

.single-foods-item:hover .food-box-info h3{
    color: #fff;
}
.single-foods-item:hover .food-box-info{
    background: #D19735;
    color: #fff;
}
.single-foods-item:hover .food-box-info h2{
    color: #fefb00;
}
.single-foods-item:hover .box-btn{
    border: 1px solid #fff;
    color: #fff;
}