/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .feature-icon {
	position: relative;
}
.circle-bg:after{
	opacity: 0;
	visibility: hidden;
}
.single-feature-item.feature-padding-right.left-item {
	margin-left: 0;
}
.single-feature-item {
	text-align: center;
	padding-right: 0px;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}
.single-feature-item.left-item {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	text-align: center;
}
.feature-icon i {
	width: auto;
	height: auto;
}
.single-feature-item.feature-padding-left {
	margin-right: 0;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}