/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
 .header-right {
  margin-top: -62px;
}
.big-menu li {
  font-size: 38px;
}
.footer-area p {
  text-align: center;
  font-size:14px;
}
.social-icons {
  margin-top: 11px;
  text-align: center;
}
.email-subscripe-form input[type="email"] {
  margin-top: 20px;
}
.text-right,.footer-menu{
  text-align: center;
}
.single-product-item{
	width:31.33333%;
}
.single-product-item:nth-child(2),.single-product-item:nth-child(9),
.single-product-item:nth-child(4) {
  width: 64.3333%;
}
.single-product-item{
	background-size:100%;
}
.owl-carousel .owl-item .promo-bg img {
  width: auto;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .promo-content {
  text-align: center;
}
 .header-right {
  display: none;
}
.header-left ul {
display: none;
}
.owl-carousel .owl-item .single-slide-item img {
  display: none;
}
.slide-table {
  font-size: 43px;
  line-height: 50px;
  padding-left: 14%;
  text-align: center;
}
.header-top-area {
  background-color: #f7f1ef;
  position: relative;
  top: 1px;
}
.homepage-slide-wrape,.homepage-slide-wrape div {
  height: auto;
}
.slide-tablecell {
  padding-top: 50px;
  text-align: center;
}
.big-menu li {
  float: none;
  font-size: 30px;
  width: auto;
}
.big-menu li:nth-child(2), .big-menu li:nth-child(3) {
  width: auto;
}
.big-menu ul li a {
  padding: 50px;
  text-align:center;
}
.year-text {
  font-size: 40px;
}
.promo-title h1,.promo-title h2 {
  font-size: 17px;
}
.single-product-item,
.single-product-item:nth-child(2),
.single-product-item:nth-child(4),
.single-product-item:nth-child(9) {
  width: 100%;
  float:none;
}
.promo-content p {
  font-size: 12px;
  line-height: 23px;
}
.single-product-promotion .owl-dots div {
  margin-bottom: 0;
  right: auto;
  top: auto;
  display: inline-block;
  margin: 15px;
}
.single-product-promotion .owl-dots {
  position: relative;
  right: auto;
  top: auto;
  width:100%;
  margin-top: 5px;
  text-align: center;
}
.brand-images {
  margin-bottom: 16px;
}
.footer-area p {
  font-size: 13px;
}
.social-icons {
  margin-top: 11px;
  text-align: center;
}
.email-subscripe-form input[type="email"] {
  width: 100%;
  margin-top: 20px;
}
.text-right,.footer-menu{
  text-align: center;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}