/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/
.single-boxed-item{background-image: url(../images/long.jpg);}
.item-bg-2{background-image: url(../images/item-1.jpg);}
.item-bg-3{background-image: url(../images/item-2.jpg);}
.item-bg-4{background-image: url(../images/item-3.jpg);}
.item-bg-5{background-image: url(../images/item-4.jpg);}

.section-padding {
  padding: 80px 0;
}
.setion-title {
  margin-bottom: 30px;
  text-align: center;
}
.setion-title h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.row.nopadding .col-md-4 {
  padding: 0;
}
.row.nopadding {
  margin: 0;
}
.single-boxed-item {
  background-color: #ddd;
  background-position: center top;
  background-size: cover;
  height: 600px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.boxed-item-hover {
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}
.single-boxed-item:hover .large-img{margin-bottom: 10px;}
.single-boxed-item:hover .boxed-item-hover{
    opacity: 1;
    visibility: visible;}
.box-item-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.box-item-table {
  display: table;
  width: 100%;
  height: 100%;
}
.single-boxed-item.half-size {
  height: 300px;
}
.boxed-item-hover:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #333;
  z-index: -1;
  opacity: .7;
}
.large-img {
    color: #fff;
    margin-bottom: 70px;
    display: inline-block;
    transition: .5s;
}
.box-item-tablecell p {
  margin: 0;
}
.box-item-tablecell h4 {
  margin: 0;
}