@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,700i,900');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
body {
   font-family: 'Merriweather', serif;
   font-size:17px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}


.section-bg-1{background-image:url(../images/bg.jpg)}
.section-padding {
	padding: 80px 0px;
	background-size: cover;
	background-position: center top;
	background-color: #ddd;
	background-repeat: no-repeat;
}

.price-box-item {
  overflow: hidden;
  box-shadow: 0 0 20px #333;
}
.single-price-box {
  width: 33.33333%;
  border-right: 1px solid #000;
  float: left;
  cursor:pointer;
}
.single-price-box:last-child {
  border-right: none;
}
.single-price-box-table {
  display: table;
  width: 100%;
  height: 175px;
}
.single-price-box-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.single-price-box img {
  max-width: 150px;
  max-height: 130px;
}
.price-box-inner h2 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  color: #66B6FF;
  margin-bottom: 15px;
}
.price-box-inner h2:before {
  position: absolute;
  background: #3399FF;
  width: 40px;
  height: 4px;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}
.price-box-inner {
  background: #fff;
  color: #79BFFF;
  text-align: center;
  padding-top: 30px;
}
.fixed-amount span {
  color: #FB5D6B;
  font-weight: 900;
  position: relative;
  font-size: 35px;
  display: inline-block;
}
.fixed-amount span:before {
  position: absolute;
  content: "$";
  left: -17px;
  top: 6px;
  font-size: 18px;
  font-weight: 400;
}
.fixed-amount span:after {
  position: absolute;
  content: "/mo";
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  margin-left: 5px;
}
.price-box-inner ul {
	list-style: none;
	margin: 0;
	padding: 23px;
	line-height: 29px;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: -23px;
}
.price-box-inner h3 {
  text-align: center;
  padding-right: 17px;
}
.buy-btn {
  background: #79BFFF;
  padding: 15px 30px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius:10px;
}
.price-box-inner .active {
	background: #FB5D6B;
}








