/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .single-item-box {
	margin-bottom: 30px;
}
.mainmenu-area ul li ul {
	width: 150px;
}
.mainmenu-area ul li a {
	padding: 6px 11px;
	font-size: 11px;
}
.mainmenu-area ul li:hover > ul {
	top: 40px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}