
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0 0 15px;
  font-weight:700;
}
body {
  color: #a1a2a1;
  font-family: "Lato",sans-serif;
  font-size: 13px;
  line-height: 30px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */
.single-product-bg-1{background-image:url(../images/img1.jpg);}
.single-product-bg-2{background-image:url(../images/img2.jpg);}
.single-product-bg-3{background-image:url(../images/img3.jpg);}
.single-product-bg-4{background-image:url(../images/img4.jpg);}
.single-product-bg-5{background-image:url(../images/img5.jpg);}
.single-product-bg-6{background-image:url(../images/img6jpg);}
.single-product-bg-7{background-image:url(../images/img7jpg);}
.single-product-bg-8{background-image:url(../images/img8.jpg);}
.single-product-bg-9{background-image:url(../images/img9.jpg);}
.single-product-bg-10{background-image:url(../images/img10.jpg);}
