/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.section-padding {
    padding: 80px 0px;
}
.bg-1 {
    background-color: #343950;
    color: #fff;
    padding-bottom: 0px;
}
.map {
    height: 500px;
    width: 100%;
}
.map {
    margin-bottom: -50px;
}
.section-title {
  font-size: 50px;
  font-weight: 400;
  margin-top: 0px;
}
.section-content {
  color: #9395a2;
  line-height: 25px;
  font-size: 12px;
  margin-bottom: 100px;
}
.section-content strong {
  color: #fff;
  font-size: 18px;
}
ul.distance {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  padding-top: 30px;
}
.distance li {
  color: #B2853B;
  position: relative;
  padding-bottom: 25px;
  z-index: 1;
  margin-bottom: 20px;
}
.distance p {
  color: #8d8d9a;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.distance li:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background: #ddd;
  opacity: .3;
}
.distance span {
  font-size: 12px;
}
.distance li:last-child:after {
  display: none;
}