/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 .main-menu ul li a {
  padding: 25px 8px;
}
.about-img::before {
  height: 286px;
  right: 58px;
}
.about-text a {
  margin-top: 15px;
}
.latest_blog {
  width: 44%;
}
.client_about {
  padding: 40px 31px 38px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .mean-bar {
  margin: 25px 0;
}
header {
  position: relative;
}
.slider_text h2 {
  font-size: 40px;
}
.about-img {
  text-align: center;
}
.about-img::before {
  right: 145px;
}
.service_title {
  text-align: center;
  margin-top: 30px;
}
.floatright {
  float: none;
}
.subscribe button {
  right: 3px;
  height: 95%;
}
.social_icon.floatright {
  float: right;
}
.blog_img {
  position: relative;
  display: block;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.header-search {
  margin-right: -13px;
  margin-left: -13px;
}
.logo{
  text-align: center;
}
.mean-bar {
  margin: 25px 0;
}
header {
  position: static;
}
.slider_text h2 {
  font-size: 25px;
}
.about-img {
  text-align: center;
}
.about-img::before {
  right: 145px;
}
.service_title {
  text-align: center;
  margin-top: 30px;
}
.floatright {
  float: none;
}
.subscribe button {
  right: 3px;
  height: 95%;
}
.social_icon.floatright {
  float: right;
}
.about-img::before {
  opacity: 0;
}
.single_client_img {
  float: none;
}
.single_client_img {
  float: none;
  margin: auto;
}
.client_about {
  margin-left: 0px;
  margin-top: 20px;
}
.client_about::before {
  display: none;
}
.single_creative {
  margin-bottom: 20px;
}
.blog-content {
  width: 100%;
}
.latest_blog {
  width: 100%;
  float: none;
}
.blog_link {
  display: none;
}
.slider_area .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 275px;
}
.floatleft,.social_icon.floatright {
  float: none;
}
.copy_right,.social_icon {
  text-align: center;
}
.copy_right {
  margin-bottom: 20px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}