/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.logo-title {
	top: 99px;
	right: 116px;
}
.logo {
	text-align: center;
}
.single-slide-item {
	padding-top: 319px;
}
.slide-content {
	padding-left: 25px;
	padding-right: 39px;
	padding-bottom: 63px;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
}
.slide-content h2 {
	font-size: 15px;
}
.contact-info {
	display: block;
	text-align: center;
	margin-top: 46px;
}
.contact-info i.fa {
	left: 20px;
}
.home-page-slide:hover .owl-nav div {
	opacity:0;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}