/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.progress-bar-wrap {
    position: relative;
    transform: rotate(80deg);
}
.single-progress-bar {
  text-align: center;
}
.progress-percentage {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    line-height: 40px;
    margin-top: -20px;
    font-size: 35px;
    font-weight: 700;
    transform: rotate(-80deg);
}
.single-progress-bar h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 30px;
}

.section-title {
  margin-bottom: 50px;
}
.section-padding {
  padding: 80px 0px;
}
.section-title p {
  opacity: .5;
  font-size: 15px;
  font-weight: 500;
}