/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/



.section-padding {
  padding: 80px 0px;
}

ul.list-item {
  margin: 0;
  padding: 0px 0;
  list-style: none;
  background: #213621;
}
ul.list-item li {
  display: inline-block;
}

ul.list-item li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 50px;
    position: relative;
    font-weight: 700;
}
ul.list-item li.active a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    content: "";
    background: red;
    opacity:0;
    transition: .5s;
}
ul.list-item li.active:hover a::before{
    width: 100%;
    opacity: 1;
}
ul.list-item li.active {
    position: relative;
    background: #397339;
    transition: .5s;
}
.tab-content {
    margin-top: 40px;
}
.tab-pane h1{position: relative;}
.tab-pane h1::before {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 94px;
    height: 5px;
    background: #213621;
    content: "";
}
.tab-pane h1:after {
  background: #397339;
  width: 40px;
  height: 5px;
  content: "";
  left: 45px;
  bottom: -10px;
  position: absolute;
  margin-left: -20px;
}