/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/


.section-padding {
  padding: 80px 0;
}
.single-pricing-item {
	border: 1px solid #f3f6fa;
	padding: 70px 45px;
	text-align: center;
	font-size: 17px;
	transform: scale(1);
	transition: .5s;
	border-radius: 0 0 5px 5px;
}
.single-pricing-item:hover {
	box-shadow: 0 0px 10px #ddd;
	transform: scale(1.1);
	z-index: 1;
}
.single-pricing-item:hover .start-btn{
	background:#687887;
}
.single-pricing-item.active {
	position: relative;
	padding-bottom: 71px;
}
.single-pricing-item.active h4 {
	margin-bottom: -28px;
}
.single-pricing-item.active:after {
  background: #64BB21;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  content: "";
  z-index: -1;
}
.single-pricing-item span {
	display: block;
	color: #8fca6e;
	font-size: 12px;
	font-weight: 500;
}
.pricing-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing-menu ul li {
  color: #73818f;
  font-weight: 500;
  line-height: 19px;
  margin-top: 20px;
}

.single-pricing-item h4 {
	color: #687887;
	text-transform: capitalize;
	font-weight: 400;
	margin-bottom: 0px;
}
.pricing-box p.amount {
  font-size: 50px;
  color: #00AAF7;
}
.pricing-box {
  color: #758591;
  font-weight: 400;
  font-size: 13px;
  margin-top: 70px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.start-btn {
  display: inline-block;
  background: #00AAF7;
  padding: 10px 40px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  border-radius: 9px;
  margin-top: 50px;
  transition:.5s;
}

.section-padding p {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
  color: #758591;
  font-weight: 400;
}

















