@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
    color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #333333;
}
a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}

/*header-top-area css*/

.logo img {
  width: 100px;
}
.mainmenu {
  margin-top: 38px;
  text-align: right;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  display: inline-block;
  padding-right: 50px;
}
.mainmenu ul li a {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  font-weight: 700;
}

.team-bg-1{background-image:url(../images/tushar.jpg);}
.team-bg-2{background-image:url(../images/Billa.jpg);}
.team-bg-3{background-image:url(../images/nahid.jpg);}
.team-bg-4{background-image:url(../images/bappy.jpg);}
.team-bg-5{background-image:url(../images/mishu.jpg);}
.team-bg-6{background-image:url(../images/salman.jpg);}
.team-bg-7{background-image:url(../images/Noman.jpg);}
.team-bg-8{background-image:url(../images/arafat.jpg);}
.team-bg-9{background-image:url(../images/nayem.jpg);}
.team-bg-10{background-image:url(../images/Kibria.jpg);}
.team-bg-11{background-image:url(../images/murshed.jpg);}
.team-bg-12{background-image:url(../images/sabuj.jpg);}
.team-bg-13{background-image:url(../images/rony.jpg);}

.single-team-item {
  margin: 20px 0;
  box-shadow: 0 0 20px #ddd;
}
.single-team-bg {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.single-team-bg:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background: #0055FF;
  content: "";
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}
.single-team-item:hover .single-team-bg::after {
  opacity: .6;
  height: 100%;
}

.bordered-content {
  border: 1px solid #0055FF;
  margin-top: 5px;
  padding: 20px 20px;
  text-align: center;
}
.bordered-content h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.section-padding h2 {
  position: relative;
}
.section-padding h2:after {
  position: absolute;
  left: 38%;
  bottom: -6px;
  width: 98px;
  height: 3px;
  background: #0253FD;
  content: "";
}
.bordered-content p {
  color: #B3B3B3;
  font-size: 12px;
  margin: 0;
}
.social-icon a {
  color: #000000;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #4C4A4A;
  line-height: 40px;
  margin: 12px 5px;
  transition: .3s;
  transform: rotate(44deg);
}
.social-icon a:hover{
  color: #0055FF;
  border-color: #0055FF;
  transform: rotate(-44deg);
}
.social-icon a i.fa {
  transform: rotate(-44deg);
  transition: .3s;
}
.social-icon a:hover i.fa {
  transform: rotate(44deg);
}

.footer-area {
  padding: 20px 0px;
  box-shadow: 0 0 20px #ddd;
  text-align: center;
  color: #000;
  font-weight: 600;
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background-color: #000;
}

