
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
	color:#000;
	text-transform:uppercase;
	font-weight:700;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.7;
	color: #CBCBCB;
	font-size: 16px;
}
a{text-decoration:none;}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */
.section-title h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-title h2 span {
    color: #50b77b;
}

section.section-padding {
    padding: 80px 0;
}
.section-title {
    text-align: center;
}
.section-title p {
    font-size: 16px;
    font-weight: 700;
}
.single-pricing-item {
  border: 1px solid #ddd;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease 0s;
}

.pricing-icon{
	transition:.5s;
}
.pricing-icon i.fa {
    font-size: 45px;
}

.pricing-icon img {
    width: 69px;
}
.pricing-list {
  margin-top: 25px;
  padding-left: 45px;
  text-align: left;
}
.pricing-list ul {
  line-height: 30px;
  list-style: outside none none;
  margin-bottom: 15px;
  padding: 0;
}
.pricing-list li::before {
    color: #49b576;
    content: "\f00c";
    font-family: fontawesome;
	padding-right:10px;
}
.pricing-list li.off::before {
    color: #FF0000;
    content: "\f00d";
	padding-right:10px;
}
.pricing-list ul li  {
    color: #cbcbcb;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
	transition:.5s;
}

.single-pricing-item h3.pricing-count {
  text-transform: none;
  text-align: center;
}
.ordered-btn {
    border: 1px solid #45b373;
    border-radius: 50px;
    color: #cbcbcb;
    display: inline-block;
    font-weight: 700;
    padding: 10px 32px;
    text-transform: uppercase;
}
.single-pricing-item:hover>.pricing-icon{color:#2A9757;}
.single-pricing-item:hover>.pricing-icon img{opacity:.8;}
.pricing-list ul li:hover{padding-left:5px;}
a.ordered-btn:hover{background:#26A45A;color:#fff;transition:.5s;}
.single-pricing-item:hover {
  border-color: #26a159;
  box-shadow: 0 0 10px #50b77b;
}













