@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
   font-family: 'Open Sans', sans-serif;
   font-size:17px;
   color:#565656;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}
.right-absolute-img {background-image: url(../images/bg1.jpg);}
.right-absolute-img-2 {background-image: url(../images/bg2.jpg);}


.section-padding {
    background: #222931 none repeat scroll 0 0;
    color: #c1c1bc;
    position: relative;
}
.box-content h3 {
    color: #fff;
    text-transform: uppercase;
}
.box-content p {
    font-size: 13px;
}
.box-content {
    line-height: 1.7;
    padding: 110px 76px 40px 80px;
	position:relative;
}
a.read-more-btn {
    border: 1px solid #CED0D2;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
    padding: 6px 10px;
    text-transform: uppercase;
}

.box-content::before {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #767a7f;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  content: "";
  height: 80px;
  left: 40px;
  position: absolute;
  top: 117px;
  width: 1px;
  z-index: 9;
}
.box-content::after {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 50px;
  border-left-color: #222931;
  border-left-style: solid;
  border-left-width: 130px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 0;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 50px;
  content: "";
  height: 0;
  position: absolute;
  top: 30%;
  width: 0px;
  right:-64px;
}
.left-absolute-img .box-content::after {
  left: -90px;
  right: auto;
  transform: rotate(-181deg);
}
.left-absolute-img .box-content {
  margin-left: 30px;
}
.right-absolute-img {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.right-absolute-img-2 {
    left: 0;
    position: absolute;
}