/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
img.absolute-image {
	right: 0;
	position: relative;
}
.service-wrap {
	padding-bottom: 0;
}
.section-title {
	margin-bottom: 40px;
}
.single-service {
	margin-bottom: 30px;
}


}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  img.absolute-image {
	right: 0;
	position: relative;
}
.service-wrap {
	padding-bottom: 0;
}
.section-title {
	margin-bottom: 40px;
}
.single-service {
	margin-bottom: 30px;
}
.mainmenu ul li a {
	font-size: 10px;
}
.mainmenu ul li{
	margin-right: 10px;
}
.mainmenu ul li a {
	padding: 6px 7px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}