/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.section-bg-1::after {
         display: none;
   }
.styled-bca {
  margin-left: -66%;
  margin-top: 30px;
  width: 290px;
}
.section-title {
  margin-left: -70%;
  text-align: center;
  width: 274px;
}
.section-bg-1::after {
  opacity: 0;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}