
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.7;
	color: #CBCBCB;
	font-size: 16px;
}
a{text-decoration:none;}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */
.section-padding{padding:80px;}
.section-bg-1 {
	position: relative;
}
.section-bg-1:after{background-image:url('../images/bg1.jpg')}
.section-bg-1::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 48%;
	height: 100%;
	background-color: #ddd;
	content: "";
	background-size: cover;
	background-position: center;
	background-color: #ddd;
}
.section-title h1 {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	letter-spacing: 4px;
}
.section-title h1 span {
	color: #19B4FD;
}
.styled-bca {
  min-height: 480px;
  margin-top: 30px;
}
.styled-bca .panel-heading {
	border-bottom: 0px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background: none;
}
.styled-bca .panel {
	border-radius: 0px;
	box-shadow: 0 0 0;
	margin-bottom: 18px;
}
.styled-bca .panel  a {
	padding: 15px;
	display:block;
	position:relative;
}
.styled-bca .panel  a i.fa {
	float: right;
	font-size: 150%;
	line-height: 15px;
	display:none;
}
.styled-bca.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: 0px solid;
}
.styled-bca .panel a[aria-expanded="true"] i.fa.fa-angle-down {
    display: block;
	font-size:20px;
	color:#D74F25;
}
.styled-bca .panel a[aria-expanded="false"] i.fa.fa-angle-up {
    display: block;
	font-size:20px;
	color:#D74F25;
}

















