@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
  font-family: 'Roboto', sans-serif;
   font-size:17px;
}
a:hover { text-decoration: none; }
*{margin:0;padding:0;}
.header-area {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:9;
}
.mainmenu ul {
    margin:0;
	padding:0;
	list-style:none;
    text-align: right;
}
.mainmenu li {
    display: inline-block;
}
.mainmenu ul li a {
    display: block;
    font-size: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 0;
    padding-top: 30px;
	color:#fff;
	position:relative;
	}
.mainmenu ul li a.active{
	color:#00aeef;
}
.mainmenu ul li a.active::before {
  background-color: #00aeef;
  border:1px solid #fff;
  border-radius:50%;
  content: "";
  height: 15px;
  left: 0;
  margin-top: -7px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 15px;
}
.mainmenu ul li a:hover{
	color:#00AFF0;
}
.logo img {
    max-width: 180px;
}
.logo {
    padding-top: 9px;
}

.slide-text {
  padding-bottom: 150px;
  padding-top: 200px;
}
.slide-text h2 {
    color: #00AEEF;
    font-size: 40px;
    font-weight: 400;
}
.read-more-btn {
   border:1px solid #ddd;
    color: #00aeef;
    display: inline-block;
    font-weight: 600;
	padding:10px 20px;
}
.read-more-btn i.fa {
    margin-left: 8px;
}
.single-slide .row {
    position: relative;
}
.single-slide {
    background-color: #263238;
    color: #fff;
}
.single-slide img {
    bottom: 0;
    max-height: 85%;
    position: absolute;
    right: 15%;
}
.slide-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.home-page-slides.owl-carousel .owl-item img {
    width: auto;
}
.home-page-slides .owl-dots div {
    background: #00AEEF;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	margin: 8px;
	transition: .3s
}
.home-page-slides .owl-controls .owl-dots {
   position: absolute;
	text-align: center;
	bottom: 30px;
	width: 100%;
}
.home-page-slides .owl-dots .active{
	background: #fff;
}




.service-content h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: underline;
  color: blueviolet;
}
.service-content p {
  font-size: 13px;
  padding: 10px;
  line-height: 25px;
  font-weight: 500;
}
.service-content a.read-more-btn {
  padding: 10px 50px;
  margin: 10px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.custom-modal .modal-content {
  border-radius: 0px;
}