/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 .mainmenu ul li {
  margin-left: 65px;
} 
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .mainmenu ul li {
  margin-left: 80px;
}
.single-blog-item {
  margin-bottom: 50px;
}
.newsletter-area {
  margin-bottom: 70px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .logo {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.mainmenu ul {
	text-align:center;
}
.mainmenu ul li {
  margin-left: 20px;
}
.mainmenu ul li a {
	padding:30px 0;
	font-size:9px;
}
.big-feature-btm > .blog-featured-content {
  margin-bottom: 30px;
}
.single-blog-item {
  margin-bottom: 50px;
}
.newsletter-area {
  padding: 50px 0;
  margin-bottom: 40px;
}
.blog-load-wrapper {
  margin-top: -22px;
}
.load-btn {
  font-size: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
}
.footer-area ul,.text-right{text-align:center;}
.footer-area li {
  margin: 10px;
}
.footer-area a i.fa {
  margin:10px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}