*{margin:0;padding:0;}
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0 0 15px;
  font-weight:400;
  font-size:25px;
}
body {
  color: #626262;
 font-family: 'Playfair Display', serif;
  line-height: 1.714;
}
a:hover { text-decoration: none;color:#337ab7; }
*{margin:0;padding:0;}

/* section css start */
.blog-featured-content img {
  height: auto;
  width: 100%;
}
.logo {
    padding:75px 0;
}
.mainmenu ul {
    list-style:none;
	padding:0;
	margin:0;
	text-align:right;
}
.mainmenu ul li {
    display: inline-block;
    margin-left: 95px;
}


.mainmenu ul li a {
    color:#626262;
    display: block;
    text-transform: uppercase;
	font-size:14px;
	padding:75px 0;
}

.single-blog-item {
    margin-bottom: 120px;
}
.blog-meta a {
    color: #b4ac9f;
}
.single-blog-item h2 a {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
	color: #626262;
}
.big-feature-btm > .blog-featured-content {
  margin-bottom: 80px;
}
.blog-featured-content {
  margin-bottom: 30px;
}
.blog-readmore-btn {
    color: #b4ac9f;
    text-transform: uppercase;
}
.blog-box-content {
  margin-bottom: 20px;
}
.blog-box-content p:last-child {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.newsletter-area {
  background:#f0f0f0;
  overflow:hidden;
  padding:70px;
  text-align:center;
  margin-bottom:120px;
}
.newsletter-area h2 {
  color: #626262;
  margin-bottom: 50px;
}
.newsletter-form{
	border-bottom:2px solid #000;
	max-width:365px;
	margin:0 auto;
	position:relative;
}
.newsletter-form input[type="email"] {
  border:none;
  background:#f0f0f0;
  width:100%;
  padding:10px;
}
.newsletter-form button {
  position: absolute;
  right: 0;
  top: 0;
  border:none;
  padding:10px;
}

.blog-load-wrapper {
  margin-top: -30px;
}
.load-btn {
    border:1px solid #ddd;
    color: #626262;
    display: inline-block;
    font-size: 20px;
    padding:15px 25px;
}

.footer-area {
    background-color: #f0f0f0;
    margin-top: 50px;
    padding:20px 0;
}
.footer-area ul {
    list-style:none;
	padding:0;
	margin:0;
}
.footer-area li {
    display: inline-block;
    margin-right: 10px;
}
.footer-area li a {
    color: #000;
    display: block;
    font-size: 15px;
}
.footer-area a i.fa {
    margin-left: 15px;
	color:#000;
}








