
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0 0 15px;
  font-weight:700;
}
body {
  color: #a1a2a1;
  font-family: "Lato",sans-serif;
  font-size: 13px;
  line-height: 30px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

/* section css start */

section.section-padding {
    padding:80px 0;
}
h2 {
}
.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
}
.section-borders > span {
    background-color: #7db92a;
    display: inline-block;
    height: 5px;
    width: 50px;
}
.section-borders span.black-border {
    background-color: #000;
    margin-left: 6px;
    margin-right: 6px;
}
.section-title {
  margin-bottom: 40px;
  text-align: center;
}
.our-clients .owl-dots div{
	background-color:#000;
	width:20px;
	height:5px;
    display:inline-block;
	margin:3px;
	transition:.6s;
}
.our-clients .owl-dots .active{
	width:30px;
	background:#7DB92A;
}
.our-clients .owl-dots{text-align:center;}
.single-client-info {
  box-shadow: 0 0 2px #7DB92A;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-top: 15px;
}
.single-client-info > span {
    display: block;
    line-height: 14px;
}
.single-client-info h3 {
    margin-bottom: 2px;
}
.single-client-info p {
    color: #000;
    font-size: 14px;
    font-style: italic;
}
.single-client-info > span {
    display: block;
    line-height: 14px;
}
h3 {
}
.single-client-info h3 {
    margin-bottom: 2px;
}
.single-client-info {
    padding-left: 80px;
    position: relative;
}
.single-client-info::before {font-family:fontAwesome;content:"\f10e";}
.single-client-info::before {
    color: #7DB92A;
    font-family: fontAwesome;
    left: 23px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.single-client-info::after {
    background-color: #DCDDDC;
    bottom: 0;
    content: "";
    height: 80%;
    left: 62px;
    position: absolute;
    top: 10%;
	width:1px;
}













