/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.footer-subcribtion h3 {
  font-size: 15px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.footer-subcribtion h3 {
  font-size: 11px;
  margin-top: 20px;
}
.footer-subcribtion input[type="submit"] {
  font-size: 13px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 32%;
}
.footer-subcribtion input[type="text"] {
  font-size: 13px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 65%;
}
.footer-subcribtion > p {
  font-size: 9px;
}
.footer-content > p {
  font-size: 11px;
}
.footer-content > ul > li > a {
  font-size: 13px;
}
.copyright-area p {
  font-size: 12px;
}
.social-icons li {
  margin-right: 16px;
  margin-top: 11px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .social-icons {
  margin-bottom: 20px;
  margin-top: -30px;
}
.footer-content > ul {
  margin-bottom: 30px;
}
.copyright-area p {
  font-size: 11px;
}
.copyright-area ul {
  text-align: center;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}