/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .section-title h2::before {
	background: #fdaf67;
	bottom: -8px;
	content: "";
	height: 3px;
	left: 42%;
	position: absolute;
	width: 90px;
} 
 .section-title h2::after {
	background: #000 none repeat scroll 0 0;
	bottom: -8px;
	content: "";
	height: 3px;
	left: 46%;
	position: absolute;
	width: 36px;
}
  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .news-item-content p {
    font-size: 11px;
}
 .section-title h2::before {
	background: #fdaf67;
	bottom: -8px;
	content: "";
	height: 3px;
	left: 38%;
	position: absolute;
	width: 90px;
}
.section-title h2::after {
	background: #000 none repeat scroll 0 0;
	bottom: -8px;
	content: "";
	height: 3px;
	left: 48%;
	position: absolute;
	width: 36px;
}   
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}