@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2{font-size:32px;}
body {
  font-family: 'Roboto', sans-serif;
   font-size:17px;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

.section-padding {
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
}
.service-title {
    margin-bottom: 50px;
    text-align: center;
}
.service-title h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-borders {
  margin-top: -20px;
}
.section-borders > span {
    background-color: #7db92a;
    display: inline-block;
    height: 5px;
    width: 50px;
}
.section-borders span.black-border {
    background-color: #000;
    margin-left: 6px;
    margin-right: 6px;
}

.section-borders {
    margin-top: -20px;
}
.single-feature-item h3 {
    border-bottom-color: #7db92a;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
}
.single-feature-item p {
    color: #98a2ae;
    font-size: 13px;
    font-weight: 600;
}

.section-borders {
    margin-top: -20px;
}
.single-feature-item h3 {
  border-bottom-color: #7db92a;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 10px;
}
.single-feature-item p {
  color: #98a2ae;
  font-size: 13px;
  font-weight: 400;
}
.single-feature-item {
    margin-right: 30px;
}
.big-bordered-img {
    position: relative;
}
.big-bordered-img::before {
  background-color: #8ec448;
  content: "";
  height: 431px;
  position: absolute;
  right: 70px;
  transform: rotate(21deg);
  width: 12px;
}
.bordered-img {
  margin-bottom: 25px;
  position: relative;
}
.bordered-img img {
  height: 120px;
  width: 100%;
}
.big-bordered-img img {
  height: 434px;
}
.bordered-img::after {
    background-color: #8ec448;
    bottom: -5px;
    content: "";
    height: 110px;
    position: absolute;
    right: -5px;
    width: 95%;
    z-index: -1;
}
.bordered-img::before{
	background:#000;
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	opacity:.5;
}