/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .top-ticker-text::before {
	left: 50%;
	width: 34px;
	margin-left: -17px;
}
.section-content {
	padding-left: 35px;
	padding-top: 10px;
	min-height: 844px;
	text-align: center;
}
.section-content h1 {
	font-size: 25px;
	line-height: 31px;
	margin-top: 35px;
	margin-bottom: 15px;
}
.lady-img {
	right: -3px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}