/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
    color: #373737;
}

body {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.section-padding{padding:80px 0;}
.section-bg{
	background-color:#76d3da;
	color:#fff;
	}

.section-content h1 {
	color: #fff;
	font-size: 55px;
	line-height: 55px;
	font-weight: 400;
	margin-top: 35px;
	margin-bottom: 48px;
}
.section-content {
	padding-left: 100px;
	max-width: 500px;
	padding-top: 100px;
	min-height: 801px;
}
.lady-img {
	position: absolute;
	right: -25px;
	bottom: 0;
}
.top-ticker-text {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  position: relative;
}
.top-ticker-text:before {
  position: absolute;
  left: 0;
  bottom: -4px;
  background: #fff;
  width: 33px;
  height: 3px;
  content: "";
}

.section-content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}
.more-btn {
	background: #f4f551;
	padding: 15px 30px;
	display: inline-block;
	font-size: 17px;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	border-radius: 45px;
	margin-bottom: 100px;
	box-shadow: 0 18px 60px #f4f551;
}
.section-content > .more-btn {
	margin-top: 40px;
}