/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.slide-text h2 {
  font-size: 35px;
}
.home-page-slides .owl-controls .owl-dots {
  bottom: 2px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.single-slide img {
  max-height: 80%;
  right: 3%;
}
.slide-text h2 {
  font-size: 30px;
}
.home-page-slides.owl-carousel .owl-item img {
    width: auto;
}
.logo img {
  max-width: 115px;
}
.mainmenu ul li a {
  padding-left: 18px;
}
.home-page-slides .owl-controls .owl-dots {
  bottom: 4px;
}
.mainmenu ul li a.active::before {
  left: -5px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .logo img {
  max-width: 100%;
}
.mainmenu ul li a.active::before {
  display:none;
}
.mainmenu ul li a {
  display: block;
  font-size: 9px;
  padding-left: 1px;
}
.slide-text h2 {
  font-size: 19px;
}
.single-slide img {
  max-height: 70%;
  right: -8%;
}
.slide-text p {
  font-size: 14px;
  margin-bottom: 34px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}