/*common typography*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
class,
id,
section,
aside,
article,
header,
footer,
p,
ul,
li {
    margin: 0;
    padding: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

html,
body,
.full-height {
    height: 100%;
}

body {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.fix {
    overflow: hidden;
}


/*--heading---*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    margin: 0 0 30px;
    line-height: 1.4;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding: 100px 0;
}

.section-padding-80 {
    padding: 80px 0;
}


/*===================================================*/


/* ---- particles.js container ---- */

.header-area {
    background-image: url(../images/hero-bg.jpg);
    position: relative;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 600px;
    width: 100%;
}

.header-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: -1;
}

.hero-text {
    color: #fff;
    margin-top: -500px;
}


.hero-text .popover-title,
.hero-text .popover-content {
    color: #333;
}

.tooltip-popovert-btn a {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 50px;
    background: transparent;
    margin-right: initial;
    margin-left: 12px;
}

.tooltip-popovert-btn {
    margin-bottom: 30px;
}


/*.about-indicator i{-webkit-animation: 1s ease infinite running rozy;animation: 1s ease infinite running rozy;}
@-webkit-keyframes rozy{
    0%{-webkit-transform: translateY(0px);transform: translateY(0px)}
    50%{-webkit-transform: translateY(10px);transform: translateY(10px)}
    100%{-webkit-transform: translateY(0px);transform: translateY(0px)}
}
@keyframes rozy{
    0%{-webkit-transform: translateY(0px);transform: translateY(0px)}
    50%{-webkit-transform: translateY(10px);transform: translateY(10px)}
    100%{-webkit-transform: translateY(0px);transform: translateY(0px)}
}*/