@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,300,400');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
h2{font-size:32px;}
body {
	font-family: 'Ubuntu', sans-serif;
	font-weight:300;
	font-size:15px;
	line-height:1.74;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}


/* header-top-area */

.header-top-area, .slider-area {
    background-color: #218ae6;
}
.header-top-area, .header-top-area a {
    color: #fff;
}
.header-top-area i.fa {
  margin-left: 15px;
}

.header-top-area i.fa {
    padding-left: 20px;
}
.header-top-area {
    padding:15px 0px;
}
.header-area h2 a {
    color: #3c3c3c;
    display: inline-block;
    font-weight: 700;
    padding:15px 0;
}
.header-area ul {
    list-style:none;
	margin:0;
	padding:0;
}
.header-area ul li {
    display: inline-block;
}
.header-area ul li a {
    color: #000;
    display: block;
    font-weight: 400;
	padding:25px;
    text-transform: uppercase;
	padding-right:0;
	padding-left:50px;
}
.header-area ul li:hover a {
    color: #218ae6;
}
.slider-area {
  padding-bottom: 150px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 150px;
}
.slider-area h2 {
    color: #b7d5f5;
    font-size: 50px;
	font-weight:100;
}
.slider-area p {
    color: #b7d5f5;
    font-size: 16px;
}
.service-btn {
    background-color: #ffbe2b;
    color: #000;
    display: inline-block;
    font-weight: 700;
    padding:10px 30px;
    text-transform: uppercase;
	margin-top:30px
}
.service-btn i.fa {
    padding-left: 6px;
}
.slider-area .owl-dots div {
    background-color: #fff;
	border-radius:50%;
    display: inline-block;
    height: 15px;
    left: 50%;
    margin-left: 5px;
    width: 15px;
}
.slider-area .owl-dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  text-align: center;
}
.slider-area .owl-dots .active{
	background:#ffbe2b;
}
