/*=============

website name: Traffic

*/


/*=================
    CSS indexing

1) base css
2) header css
3) Mainmenu CSS
4) Hero area CSS
5) Service CSS
6) Case study CSS
7) Carousel CSS
8) Testimonial CSS
9) Call to action CSS
10) Pricing box CSS
11) Brand area CSS
12) Footer CSS
13) About area css
14) blog area css
15) Slider CSS
16) Get free seo area
17) tile gallery area
18) team area css
19) pricing table area css
20) seo analysis area css
21) faq area css
22) Contact area css



==================*/


/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.aligncenter {
	display: block;
	margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	color: #373737;
	font-weight: 400;
}
h2 {
	font-size: 28px;
	line-height: 37px;
}
html, body {
	height: 100%
}
body {
	font-family: 'Khula', sans-serif;
	font-size: 15px;
	color: #999;
	line-height: 1.7;
}
a:hover {
	text-decoration: none
}
a.boxed-btn, input[type="submit"], button[type="submit"] {
	background: #ef476f none repeat scroll 0 0;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 12px 22px;
	border: none;
	transition: .3s;
}
.section-padding {
	padding: 115px 0;
}
.section-title {
	margin-bottom: 90px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-50 .boxed-btn {
	margin-top: 15px;
}
.pt-0 {
	padding-top: 0;
}
.pt-80 {
	padding-top: 80px;
}
.pt-100 {
	padding-top: 100px;
}
.padding-80 {
	padding: 80px 0
}
.padding-30 {
	padding: 30px
}
.section-padding.gray-bg.overflow-x-hidden {
	overflow-x: hidden;
}

/*home-2*/

.home-v2 h3 {
	font-size: 22px;
}
.home-v2 input[type="submit"], .service-v1 input[type="submit"] {
	background-color: #06D6A0;
}
.home-v2 a.boxed-btn, .service-v1 a.boxed-btn, .service-v2 a.boxed-btn, .case-study-v1 a.boxed-btn {
	background-color: #06D6A0
}
.home-v2 a.boxed-btn:hover, .service-v1 a.boxed-btn:hover, .service-v2 a.boxed-btn:hover, .case-study-v1 a.boxed-btn:hover {
	background-color: #333
}
.cta-bottom-services-v1 a.boxed-btn, .cta-bottom-services-v2 a.boxed-btn, .cta-bottom-blog-v1 a.boxed-btn {
	margin-top: 20px;
}

/*home 3*/

.home-v3 .pt-80 h3 {
	font-size: 22px;
	margin-bottom: 20px;
}
.home-v3 a.boxed-btn, .home-v3 input[type="submit"] {
	background: #06d6a0 none repeat scroll 0 0;
}
.video-play-btn {
	background: #06d6a0 none repeat scroll 0 0;
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	height: 60px;
	line-height: 65px;
	margin-top: 15px;
	padding-left: 5px;
	width: 60px;
}
a.boxed-btn:hover, input[type="submit"]:hover {
	background-color: #333;
	color: #fff
}
.home-v3 .pt-80 a.boxed-btn {
	margin-top: 20px;
}

/*home 4*/

.home-v4 {
	line-height: 1.6;
	font-weight: 300;
	transition: .3s;
}
.home-v4 h1, .home-v4 h2, .blog-v1 h2, .home-v4 h3, .home-v4 h4, .home-v4 h5, .home-v4 h6 {
	font-weight: 700;
}
.home-v4 a.boxed-btn, .service-v2 a.boxed-btn, .case-study-v1 a.boxed-btn, .blog-v1 a.boxed-btn {
	background-color: #06D6A0;
	padding: 10px 36px;
}
.home-v4 a.inline-btn {
	display: inline-block;
	color: #06D6A0;
	margin-top: 15px;
}
.home-v4 a.boxed-btn, .service-v1 a.boxed-btn {
	padding: 12px 36px
}

/*================
    Header CSS
=================*/

.logo, .header-area a.boxed-btn {
	margin: 11px 0;
}

/*home4*/

.header-area span {
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	padding: 5px 15px;
}
.service-v1 .header-area a.boxed-btn, .service-v2 .header-area a.boxed-btn, .case-study-v1 .header-area a.boxed-btn, .blog-v1 .header-area a.boxed-btn {
	padding: 12px 22px;
}

/*================
    Mainmenu CSS
=================*/

.mainmenu ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.mainmenu li {
	display: inline-block;
	position: relative;
}
.mainmenu ul li a {
	color: #888;
	display: block;
	padding: 22px 15px;
	transition: all 0.3s ease 0s;
}
.mainmenu ul li a:hover {
	color: #ef476f;
}
.mainmenu li.active a {
	color: #ef476f;
}

/*home-2 css*/

.home-v2 .mainmenu ul li a:hover, .service-v1 .mainmenu ul li a:hover, .service-v2 .mainmenu ul li a:hover, .case-study-v1 .mainmenu ul li a:hover, .blog-v1 .mainmenu ul li a:hover {
	color: #06D6A0;
}
.home-v2 .mainmenu li.active a, .service-v1 .mainmenu li.active a, .service-v2 .mainmenu li.active a, .case-study-v1 .mainmenu li.active a, .blog-v1 .mainmenu li.active a {
	color: #06D6A0;
}

/*home3*/

.absolute-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9
}
.absolute-header .mainmenu ul li a {
	color: #fff
}
.absolute-header .mainmenu ul li a:hover {
	color: #06D6A0;
}
.absolute-header .mainmenu li.active a {
	color: #06D6A0;
}
.absolute-header .mainmenu li a {
	text-decoration: none
}

/*home 4(Off canvas menu)*/

.off-canvas-menu {
	background: #ffffff none repeat scroll 0 0;
	height: 100%;
	left: -320px;
	padding: 25px;
	position: fixed;
	top: 0;
	width: 320px;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	transition: .3s
}
span.menu-close {
	cursor: pointer;
	display: inline-block;
	margin-right: 25px;
	margin-top: 25px;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}
.off-canvas-menu img {
	max-width: 40px;
}
.off-canvas-menu ul {
	line-height: 2;
	list-style: outside none none;
	margin: 100px 0 0;
	padding: 0;
}
.off-canvas-menu ul li a {
	color: #373737;
	font-size: 20px;
}
.off-canvas-menu>ul li {
	margin-bottom: 10px;
}
.off-canvas-menu>ul li.active a, .off-canvas-menu>ul li:hover a {
	color: #06d6a0;
}
.bottom-offcanvas ul {
	margin-top: 0;
}
.bottom-offcanvas {
	bottom: 15px;
	left: 30px;
	position: absolute;
}
.bottom-offcanvas ul li a {
	color: #373737;
	font-size: 15px;
	transition: .3s
}
.bottom-offcanvas .social-links>li {
	display: inline-block;
	padding-right: 60px;
	padding-top: 5px;
}
.bottom-offcanvas ul li a i.fa {
	margin-right: 7px;
}
.menu-close i.fa {
	margin-right: 5px;
}
.bottom-offcanvas>p {
	margin-bottom: 30px;
}
.bottom-offcanvas ul li a:hover {
	color: aqua
}
.show-offcanvas {
	left: 0;
	opacity: 1;
	visibility: visible
}
.offcanvas-overlay {
	background: #073b4c none repeat scroll 0 0;
	height: 100%;
	opacity: 0;
	position: fixed;
	width: 100%;
	z-index: 98;
	visibility: hidden;
	transition: .3s
}
.show-overlay {
	opacity: .8;
	visibility: visible;
	z-index: 99
}
.padding-left {
	padding-left: 150px;
}

/*Dropdown*/

.mainmenu ul li ul {
	position: absolute;
	left: 0;
	top: 96px;
	background: #fff;
	text-align: left;
	z-index: 9;
	padding: 5px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	box-shadow: 0 0 10px #999;
	width: 250px;
}
.mainmenu ul li:hover ul {
	visibility: visible;
	opacity: 1;
	top: 71px;
}
.mainmenu ul li ul li a {
	padding: 8px 26px;
	display: block;
}
.mainmenu ul li ul li {
	display: block;
}
.header-area .mainmenu ul li.active ul li a {
	color: inherit;
}
.header-area .mainmenu ul li ul li a:hover {
	color: #fff;
	background-color: #333;
}
.header-area .mainmenu ul li.active ul li a:hover {
	color: #fff;
	background-color: #333;
}
.home-v3 .absolute-header .mainmenu ul li ul li a {
	color: #333;
}
.home-v3 .absolute-header .mainmenu ul li ul li a:hover {
	color: #fff;
}
.mega-menu .menu-cta {
	padding: 0;
	line-height: 15px;
	text-align: center;
}
.mega-menu .menu-cta h4 {
	text-align: center;
	font-weight: 700;
	color: #777;
}
.mega-menu .menu-cta a.boxed-btn {
	padding: 10px 30px;
	color: #fff;
	margin: 0;
}
.mega-menu h5 {
	font-weight: 700;
}
.mega-menu .menu-cta a.boxed-btn:hover {
	color: #fff
}
.mainmenu ul li.mega-menu {
	position: static;
}
.mainmenu ul li.mega-menu ul {
	width: 100%;
	padding: 10px;
}
.mainmenu ul li.mega-menu ul ul {
	box-shadow: none;
	padding: 0;
	position: relative;
	left: auto;
	top: auto;
}
.mainmenu ul li.mega-menu ul ul a {
	padding: 3px 0;
	padding-left: 10px;
	margin-left: -10px;
}
.mainmenu ul li.contact-3 ul {
	left: -110px;
}
.contact-3:hover ul {
	left: -70px;
}

/*================
    Hero area CSS
=================*/

.hero-area {
	border-bottom: 1px solid #f6f6f6;
	font-weight: 300;
	padding: 150px 0;
}
.hero-area h1 {
	font-size: 40px;
	margin-bottom: 20px;
	padding-top: 30px;
}
selectorSavingError {
	border: medium none;
}
input[type="url"], input[type="email"], input[type="submit"], input[type="text"], input[type="tel"], input[type="password"], textarea {
	border: 1px solid #EFEFEF;
	padding: 10px 15px;
}
input[type="submit"], button[type="submit"] {
	padding: 11px 25px;
	font-weight: 400;
}
.website-checker-form {
	margin-top: 30px;
}

/*home-2*/

.home-v2 .hero-area {
	background-image: url(../img/home-2/welcome-bg-2.png);
}
.home-v2 .hero-area {
	background-color: #289ef7;
	background-position: center center;
	background-size: cover;
	color: #ffffff;
	line-height: 1.8;
	padding: 80px 0;
}
.home-v2 .hero-area h1 {
	color: #ffffff;
	font-size: 45px;
	margin-top: 80px;
}
.hero-form {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 5px;
	color: #333333;
	padding: 30px;
	position: relative;
	z-index: 1;
}
.hero-form::after {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 5px;
	content: "";
	height: 100%;
	left: 10px;
	opacity: 0.2;
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: -1;
}
.hero-form-header {
	font-size: 14px;
	margin-bottom: 30px;
	text-align: center;
}
.hero-form-header h3 {
	font-size: 22px;
	margin-bottom: 10px;
}
.home-v2 .hero-area input {
	width: 100%;
}
.home-v2 .hero-area input[type="submit"] {
	display: block;
	margin: 35px auto 0;
	width: auto;
}
.hero-form input[type="submit"] {
	background: #06d6a0 none repeat scroll 0 0;
}
.hero-form input[type="submit"]:hover {
	background: #333;
	color: #fff
}

/*home-4*/

.homepage-hero-area {
	height: 100%;
}
.homepage-hero-area {
	background-image: url(../img/home-4/hero-4-area-bg.jpg)
}
.homepage-hero-area {
	background-color: #dddddd;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.homepage-hero-area::after {
	background: #073b4c none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.home-v4 .check-website-form {
	margin-top: 25px;
}
.home-v4 .check-website-form input {
	background-color: #073b4c;
	border-color: #073b4c;
	border-radius: 3px;
}
.home-v4 .check-website-form input[type="submit"], .home-v4 .email-subscribe-form input[type="submit"], .service-v2 .email-subscribe-form input[type="submit"], .case-study-v1 .email-subscribe-form input[type="submit"], .blog-v1 .email-subscribe-form input[type="submit"] {
	background-color: #06D6A0;
}
.home-v4 input[type="submit"]:hover, .home-v4 a.boxed-btn:hover, .service-v2 .email-subscribe-form input[type="submit"]:hover, .case-study-v1 .email-subscribe-form input[type="submit"]:hover, .blog-v1 .email-subscribe-form input[type="submit"]:hover, .blog-v1 a.boxed-btn:hover {
	background-color: #333
}

/*service page */

.hero-service-v1-area, .hero-service-v2-area, .case-study-v1 .hero-case-study-v1, .blog-v1 .hero-blog-v1-bg {
	padding: 110px 0;
}
.hero-service-v1-area {
	background-image: url(../img/service-v1/hero-service-v1-bg.jpg)
}
.hero-service-v2-area {
	background-image: url(../img/service-v2/hero-service-v2-bg.jpg)
}
.hero-service-v2-area, .hero-service-v1-area {
	margin-top: 0
}

/*================
    Service CSS
=================*/

.single-service-box {
	border: 1px solid #f3f3f3;
	font-weight: 300;
	line-height: 1.6;
	padding: 25px;
	margin-bottom: 50px;
	transition: .3s;
}
.service-icon {
	color: #231f20;
	font-size: 30px;
	transition: .3s;
}
.single-service-box h3 {
	font-size: 20px;
	margin: 15px 0;
	transition: .3s;
}
.our-services-area.section-padding .boxed-btn {
	line-height: 1.5;
}
.service-readmore-btn {
	color: #373737;
	display: inline-block;
	font-weight: 400;
	margin-top: 10px;
	transition: .3s;
}
.service-readmore-btn i.fa {
	padding-left: 7px;
}
.single-service-box:hover {
	border-color: #ef476f;
}
.single-service-box:hover a.service-readmore-btn, .single-service-box:hover h3, .single-service-box:hover .service-icon {
	color: #ef476f
}

/*home-2*/

.home-v2 .service-box-table {
	background: #fbfbfb none repeat scroll 0 0;
	display: table;
	height: 250px;
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 1;
}
.home-v2 .service-icon {
	color: #4087f0;
	font-size: 30px;
	margin-bottom: 15px;
}
.home-v2 .service-box-teblecell {
	display: table-cell;
	padding: 30px;
	vertical-align: middle;
}
.home-v2 .service-box-table:after {
	background: #04befe;
	background: -moz-linear-gradient(top, #04befe 0%, #4481eb 100%);
	background: -webkit-linear-gradient(top, #04befe 0%, #4481eb 100%);
	background: linear-gradient(to bottom, #04befe 0%, #4481eb 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#04befe', endColorstr='#4481eb', GradientType=0);
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	transition: .3s;
	opacity: 0;
	visibility: hidden
}
.home-v2 .service-box-table:hover:after {
	opacity: 1;
	visibility: visible
}
.home-v2 .service-box-table:hover .service-box-teblecell i.fa {
	color: #ffffff;
}
.home-v2 .service-box-table:hover .service-box-teblecell h3 {
	color: #fff
}
.home-v2 .service-box-table h3 {
	color: #333333;
}
.home-v2 .service-box-table i.fa {
	color: #0ab8fd;
}

/*home-3*/

.home-v3 .single-service-box:hover a.service-readmore-btn, .service-v1 .single-service-box:hover a.service-readmore-btn, .service-v2 .single-service-box:hover a.service-readmore-btn {
	color: #06d6a0;
}
.home-v3 span.service-number, .service-v2 span.service-number {
	color: #dcdcdc;
	display: inline-block;
	font-size: 70px;
	font-weight: 400;
	line-height: 70px;
	padding-top: 15px;
}
.home-v3 .single-service-box:hover h3, .service-v1 .single-service-box:hover h3, .service-v1 .single-service-box:hover .service-icon {
	color: #06d6a0;
}
.service-v2 .single-service-box:hover h3 {
	color: #333
}
.home-v3 .single-service-box:hover, .service-v1 .single-service-box:hover, .service-v2 .single-service-box:hover {
	border-color: #06d6a0;
}
.home-v3 .single-service-box {
	margin-bottom: 0;
	transition: all 0.3s ease 0s;
}

/*home-4*/

.service-section:before {
	background-image: url(../img/home-4/service-bg-1.jpg)
}
.home-v4 .service-box {
	margin-bottom: 50px;
	min-height: 200px;
}
.section-icon {
	color: #06d6a0;
	font-size: 30px;
	margin-bottom: 20px;
}
.service-section {
	margin-top: 125px;
	padding-bottom: 40px;
	padding-top: 90px;
	position: relative;
	z-index: 1;
	font-weight: 300;
}
.service-section::before {
	background-color: #dddddd;
	background-position: center center;
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 0 10px #cfcfcf;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: -65px;
	width: 50%;
}
.service-section::after {
	background: #fdfdfd none repeat scroll 0 0;
	box-shadow: 0 0 10px #f2f2f2;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 55%;
	z-index: -1;
}
.shadow-img {
	box-shadow: 0 0 10px #f5f5f5;
}
.single-feature-item {
	margin-top: 35px;
	padding-left: 65px;
	position: relative;
}
.feature-icon {
	color: #06d6a0;
	font-size: 40px;
	left: 0;
	line-height: 35px;
	position: absolute;
	top: 0;
}
.single-feature-item h4 {
	margin-bottom: 30px;
}

/*services details page*/

.services-det .hero-service-v1-area {
	background-image: url(../img/Service-details/Services-det-hero-bg.jpg)
}
.services-det .cta-bottom-services-v1 {
	background-image: url(../img/Service-details/Services-det-bottom-bg.jpg)
}
.services-det .pt-80 h3 {
	font-size: 26px;
}
.services-det h1, .services-det h2, .services-det h3, .services-det h4, .services-det h5, .services-det h6 {
	font-weight: 700;
}
.services-det .challenges-content h3 {
	font-size: 20px;
	color: #373737;
}
.services-det .challenges-content {
	padding: 20px 0;
	margin-bottom: 56px;
}
.how-it-works-area {
	padding: 60px 0;
}
.services-det .pt-0 h2 {
	font-size: 24px;
	font-weight: 400;
	color: #373737;
}
.services-det .case-study-wrapper {
	background-color: #10d7a3;
	height: 340px;
}
.services-det .section-padding.pt-0.overflow-x-hidden {
	overflow-x: hidden;
}
.services-det .case-study-wrapper h3, .case-study-wrapper h4 {
	font-weight: 400;
	font-size: 20px;
	color: #fff;
}
.services-det .case-study-wrapper p {
	margin-top: 20px;
}
.services-det .pricing-count {
	color: #06D6A0;
}
.services-det .single-pricing-box:hover {
	border-color: #06D6A0;
}
.services-det .single-pricing-box:hover .pricing-heading {
	border-color: #06D6A0;
}

/*================
    Case study CSS
=================*/

.single-case-study {
	background-position: center center;
	background-size: cover;
	display: table;
	height: 320px;
	position: relative;
	width: 100%;
}
.case-study-bg-1 {
	background-image: url(../img/case-study-1.jpg)
}
.case-study-bg-2 {
	background-image: url(../img/case-study-2.jpg)
}
.case-study-bg-3 {
	background-image: url(../img/case-study-3.jpg)
}
.case-study-bg-4 {
	background-image: url(../img/case-study-4.jpg)
}
.section-padding.gray-bg {
	background-color: #fbfbfb;
}
.case-study-wrapper {
	background-color: #ef476f;
	color: #fff;
	display: table-cell;
	opacity: 0;
	padding: 25px;
	text-align: center;
	transition: .5s;
	vertical-align: middle;
	visibility: hidden;
	width: 100%;
}
.case-study-wrapper h3, .case-study-wrapper h4 {
	color: #fff;
}
a.case-study-more {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	color: #333;
	display: inline-block;
	height: 40px;
	line-height: 45px;
	margin-top: 10px;
	width: 40px;
	margin-left: 100px;
	transition: .3s
}
.single-case-study:hover a.case-study-more {
	margin-left: 0
}
.single-case-study:hover .case-study-wrapper {
	opacity: 1;
	visibility: visible;
}
.case-study-wrapper>p {
	margin-top: 40px;
}
.case-studies-carousel.owl-carousel .owl-stage-outer {
	overflow: inherit;
}

/*home 2*/

.home-v2 .case-study-box-preview, .case-study-v2 .case-study-box-preview {
	background-color: #ddd;
	background-position: center center;
	background-size: 105%;
	display: table;
	height: 300px;
	width: 100%;
	transition: .3s;
}
.home-v2 .case-study-box-style:hover .case-study-box-preview, .case-study-v2 .case-study-box-style:hover .case-study-box-preview {
	background-size: 120%
}
.home-v2 .case-study-link-tablecell, .case-study-v2 .case-study-link-tablecell {
	display: table-cell;
	opacity: 0;
	padding: 30px;
	position: relative;
	text-align: center;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}
.home-v2 .case-study-link-tablecell::after, .case-study-v2 .case-study-link-tablecell::after {
	background: #43cefe;
	background: -moz-linear-gradient(top, #43cefe 0%, #73a2f0 100%, #7db9e8 100%);
	background: -webkit-linear-gradient(top, #43cefe 0%, #73a2f0 100%, #7db9e8 100%);
	background: linear-gradient(to bottom, #43cefe 0%, #73a2f0 100%, #7db9e8 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#43cefe', endColorstr='#7db9e8', GradientType=0);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.home-v2 .case-study-link-tablecell .boxed-btn, .case-study-v2 .case-study-link-tablecell .boxed-btn {
	background: #fff none repeat scroll 0 0;
	color: #333;
	transition: .3s;
}
.home-v2 .case-study-box-style, .case-study-v2 .case-study-box-style {
	text-align: center;
}
.home-v2 .case-study-box-style h4, .case-study-v2 .case-study-box-style h4 {
	margin-top: 20px;
}
.home-v2 .case-study-box-style h4 span, .case-study-v2 .case-study-box-style h4 span {
	color: #999999;
	display: block;
	font-size: 14px;
	margin-top: 10px;
}
.home-v2 .case-study-box-preview:hover .case-study-link-tablecell, .case-study-v2 .case-study-box-preview:hover .case-study-link-tablecell {
	opacity: 1;
	visibility: visible;
}
.home-v2 .case-study-preview-1 {
	background-image: url(../img/home-2/case-study-1.jpg)
}
.home-v2 .case-study-preview-2 {
	background-image: url(../img/home-2/case-study-2.jpg)
}
.home-v2 .case-study-preview-3 {
	background-image: url(../img/home-2/case-study-3.jpg)
}
.home-v2 .case-study-box-style:hover a.boxed-btn i.fa, .case-study-v2 .case-study-box-style:hover a.boxed-btn i.fa {
	padding-left: 5px;
}
.home-v2 .case-study-link-tablecell .boxed-btn:hover, .case-study-v2 .case-study-link-tablecell .boxed-btn:hover {
	color: #fff
}
.home-v2 .case-study-link-tablecell a.boxed-btn i.fa, .case-study-v2 .case-study-link-tablecell a.boxed-btn i.fa {
	transition: all 0.3s ease 0s;
}

/*home 3*/

.home-v3 .case-study-wrapper>p {
	margin: 10px;
}
.home-v3 .case-study-wrapper {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	font-size: 14px;
	font-weight: 300;
	position: relative;
	z-index: 1;
}
.home-v3 .case-study-wrapper::after {
	background: #06d6a0 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.home-v3 .case-study-more {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #fff;
	font-size: 25px;
	margin: 0;
}
.home-v3 .case-study-wrapper h4 {
	font-size: 20px;
}
.home-v3 .case-study-bg-1 {
	background-image: url(../img/home-3/case-study-home-3-1.jpg)
}
.home-v3 .case-study-bg-2 {
	background-image: url(../img/home-3/case-study-home-3-2.jpg)
}
.home-v3 .case-study-bg-3 {
	background-image: url(../img/home-3/case-study-home-3-3.jpg)
}
.home-v3 .case-study-bg-4 {
	background-image: url(../img/home-3/case-study-home-3-4.jpg)
}
.home-v3 .case-study-bg-5 {
	background-image: url(../img/home-3/case-study-home-3-5.jpg)
}
.home-v3 .overflow-x-hidden {
	overflow: hidden;
}

/*case study pages*/

.case-study-v1 .single-case-study {
	height: 300px;
	margin-bottom: 30px;
}
.case-study-v1 .case-study-wrapper {
	background-color: #10d7a3;
}
a.case-study-wrapper {
	color: #fff;
	display: block;
	padding: 90px 0;
}
.case-study-v1 .case-study-bg-1 {
	background-image: url(../img/Caseo-study-v1/single-case-study-1.jpg)
}
.case-study-v1 .case-study-bg-2 {
	background-image: url(../img/Caseo-study-v1/single-case-study-2.jpg)
}
.case-study-v1 .case-study-bg-3 {
	background-image: url(../img/Caseo-study-v1/single-case-study-3.jpg)
}
.case-study-v1 .case-study-bg-4 {
	background-image: url(../img/Caseo-study-v1/single-case-study-4.jpg)
}
.case-study-v1 .case-study-bg-5 {
	background-image: url(../img/Caseo-study-v1/single-case-study-5.jpg)
}
.case-study-v1 .case-study-bg-6 {
	background-image: url(../img/Caseo-study-v1/single-case-study-6.jpg)
}
.case-study-v1 .case-study-bg-7 {
	background-image: url(../img/Caseo-study-v1/single-case-study-3.jpg)
}
.case-study-v1 .case-study-bg-8 {
	background-image: url(../img/Caseo-study-v1/single-case-study-8.jpg)
}
.case-study-v1 .hero-case-study-v1 {
	background-image: url(../img/Caseo-study-v1/case-study-bg-v1.jpg)
}
.case-study-v1 .hero-case-study-v1::after {
	opacity: 0.5;
}
.case-study-v1 {
	font-weight: 400
}
.case-study-v1 h2, .service-v1 h2, .service-v2 h2, .blog-v1 h2 {
	font-weight: 700;
	font-size: 36px
}

/*Case study details*/

.case-study-det .hero-case-study-v1 {
	background-image: url(../img/Case-study-details/hero-case-study-bg.jpg)
}
.case-study-det .det-case-study-bottom {
	background-image: url(../img/Case-study-details/cta-bottom-case-study.jpg)
}
.case-study-det h3 {
	font-size: 22px
}
.project-item {
	line-height: 1.7;
	padding: 75px 0;
}
.case-study-projects {
	margin-bottom: 100px;
}
.challenges-content {
	padding: 35px 0;
}
.challenges-content h3 {
	margin-top: 35px;
}
.case-study-challenges img {
	box-shadow: 0 0 10px #e9e9e9;
}
.testimonial-content p {
	font-size: 20px;
}
.case-study-v2 .case-study-preview-1 {
	background-image: url(../img/home-2/case-study-1.jpg)
}
.case-study-v2 .case-study-preview-2 {
	background-image: url(../img/home-2/case-study-2.jpg)
}
.case-study-v2 .case-study-preview-3 {
	background-image: url(../img/home-2/case-study-3.jpg)
}
.case-study-v2 .case-study-preview-4 {
	background-image: url(../img/case-study-v2/case-study-4.jpg)
}
.case-study-v2 .case-study-preview-5 {
	background-image: url(../img/case-study-v2/case-study-5.jpg)
}
.case-study-v2 .case-study-preview-6 {
	background-image: url(../img/case-study-v2/case-study-6.jpg)
}
.case-study-v2 .case-study-box-style {
	margin-bottom: 50px
}
.case-study-v2 .hero-case-study-v1 {
	background-image: url(../img/case-study-v2/hero-case-study.jpg)
}
.case-study-v2 .cta-bottom-services-v2 {
	background-image: url(../img/blog/cta-blog-bottom-bg.jpg)
}

/*================
    Carousel CSS
=================*/

.owl-dots div {
	background: #e2e2e2 none repeat scroll 0 0;
	display: inline-block;
	height: 3px;
	margin: 2px;
	transition: all 0.3s ease 0s;
	width: 20px;
}
.owl-dots div.active {
	background: #ef476f none repeat scroll 0 0;
}
.owl-dots {
	margin-top: 20px;
	text-align: center;
}
.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
}
.testimonial-carousel .owl-dots {
	margin-top: 30px;
}

/*home 2*/

.home-v2 .testimonial-carousel .owl-dots div.active {
	background: #10B3FC
}

/*home 3*/

.homepage-slides .owl-controls .owl-dots div {
	background: #fff;
	border-radius: 50%;
	height: 10px;
	margin: 0 5px;
	width: 10px;
}
.homepage-slides .owl-controls .owl-dots {
	bottom: 10px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	transition: .3s;
}
.homepage-slides .owl-controls .owl-dots div.active {
	background-color: #1872D9;
}
.homepage-slides div.slide-item-wrapper, .homepage-slides div.slide-item-wrapper div .homepage-slides div.owl-controls, .homepage-slides div.owl-controls div {
	height: auto;
}
.homepage-slides .owl-nav div:hover {
	opacity: 1;
}
.homepage-slides .owl-nav div.owl-next {
	left: auto;
	right: 50px;
}
.homepage-slides .owl-nav div {
	color: #fff;
	font-size: 25px;
	left: 50px;
	line-height: 50px;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	transition: .3s;
}
.homepage-slides div.owl-controls, .homepage-slides div.owl-controls div {
	height: auto;
}
.home-v3 .owl-dots div.active {
	background: #06d6a0 none repeat scroll 0 0;
}
.section-padding.qoute-carousel-area {
	padding-bottom: 0;
}
.case-study-det .owl-dots div.active {
	background-color: #06d6a0
}
.services-det .owl-dots div.active {
	background-color: #06d6a0
}
.about-us .owl-dots div.active {
	background-color: #06d6a0
}

/*================
    Testimonial CSS
=================*/

.single-testimonial-item {
	text-align: center;
}
.testimonial-content {
	color: #373737;
	font-size: 24px;
}
.testimonial-meta img {
	border-radius: 50%;
	max-width: 65px;
}
.testimonial-meta {
	font-size: 14px;
	font-weight: 300;
	margin-top: 40px;
}
.testimonial-meta h4 {
	margin-bottom: 10px;
	margin-top: 25px;
}

/*home 2*/

.testimonial-icon {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #dddddd;
	border-radius: 50%;
	color: #0ab8fd;
	display: inline-block;
	height: 60px;
	line-height: 63px;
	margin-bottom: 40px;
	text-align: center;
	width: 60px;
}
.home-v2 .single-testimonial-item {
	color: #373737;
	line-height: 2;
}
.home-v2 .single-testimonial-item h4 span {
	color: #999999;
	display: block;
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
}
.home-v2 .single-testimonial-item h4 {
	margin-bottom: 0;
	margin-top: 35px;
}

/*home 4*/

.testimonial-text {
	padding: 25px;
	position: relative;
	z-index: 1;
}
.testimonial-text p:last-child {
	margin-bottom: 0;
}
.quote-icon {
	font-size: 120%;
	padding-bottom: 20px;
}
.testimonial-text::after {
	background: #06d6a0 none repeat scroll 0 0;
	bottom: -15px;
	content: "";
	height: 30px;
	left: 30px;
	opacity: 0;
	position: absolute;
	transform: rotate(45deg);
	visibility: hidden;
	width: 30px;
}
.testimonial-bottom {
	margin-top: 58px;
	opacity: 0;
	visibility: hidden;
}
.testimonial-bottom p {
	display: inline-block;
}
.testimonial-bottom strong {
	color: #333;
}
.testimonial-bottom p {
	color: #999;
}
.testimonial-bottom img {
	border-radius: 50%;
	height: 60px;
	margin-left: 17px;
	margin-right: 10px;
	margin-top: -18px;
	width: 60px;
}
.active.single-testimonial-box .testimonial-text {
	background-color: #06d6a0;
	color: #fff;
	transition: .3s
}
.active.single-testimonial-box .testimonial-text::after {
	opacity: 1;
	visibility: visible;
	transition: .3s;
}
.active.single-testimonial-box .testimonial-bottom {
	opacity: 1;
	visibility: visible;
	transition: .3s;
}

/*================
Call to action CSS
=================*/

.cta-area, .cta-bottom-services-v1, .cta-bottom-services-v2, .cta-bottom-blog-v1 {
	background: #f8f8f8 none repeat scroll 0 0;
	padding: 40px 0;
}
.cta-area h2 {
	margin: 0;
	padding-top: 8px;
}

/*home-2 call to action css*/

.home-v2 .cta-area {
	background: #04befe;
	background: -moz-linear-gradient(top, #04befe 0%, #4481eb 100%);
	background: -webkit-linear-gradient(top, #04befe 0%, #4481eb 100%);
	background: linear-gradient(to bottom, #04befe 0%, #4481eb 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#04befe', endColorstr='#4481eb', GradientType=0);
	color: #fff;
	padding: 30px 0;
}
.home-v2 .cta-area h2, .cta-area-4 h2, .service-v1 .hero-service-v1-area h2, .bottom-cta-area h2, .cta-bottom-services-v1 h2, .cta-bottom-services-v2 h2, .cta-bottom-services-v2, .cta-bottom-services-v1, .hero-service-v2-area h2, .case-study-v1 .hero-case-study-v1 h2 {
	color: #fff;
	margin-bottom: 20px;
}
.home-v2 .cta-area .boxed-btn {
	background: #fff none repeat scroll 0 0;
	color: #333;
	padding-left: 40px;
	padding-right: 40px;
}
.home-v2 .cta-area .boxed-btn:hover {
	color: #fff
}

/*home-3*/

.home-v3 .cta-area {
	background-image: url(../img/home-3/cta-2.jpg)
}
.home-v3 .cta-area {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	position: relative;
	z-index: 1;
}
.home-v3 .cta-area::after {
	#04befe;
	background: -moz-linear-gradient(top, #04befe 0%, #4481eb 100%);
	background: -webkit-linear-gradient(top, #04befe 0%, #4481eb 100%);
	background: linear-gradient(to bottom, #04befe 0%, #4481eb 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#04befe', endColorstr='#4481eb', GradientType=0);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.home-v3 .cta-area h2 {
	color: #fff;
	font-size: 40px;
	margin-bottom: 15px;
}
.home-v3 .cta-area a.boxed-btn {
	background: #fff none repeat scroll 0 0;
	color: #333;
	font-weight: 700;
	margin-top: 40px;
	padding: 10px 35px;
}
.home-v3 .cta-area {
	padding: 80px 0;
}
.home-v3 .cta-area a.boxed-btn {
	background: #fff none repeat scroll 0 0;
	color: #333;
	font-weight: 700;
	margin-top: 40px;
	padding: 13px 35px;
}
.home-v3 .cta-area a.boxed-btn:hover {
	background-color: #06D6A0;
	color: #fff
}

/*home-4*/

.cta-area-4 {
	background-image: url(../img/home-4/cta-bg.jpg)
}
.home-v4 .cta-area {
	background-image: url(../img/home-4/cta-bottom-bg.jpg)
}
.cta-area-4, .service-v1 .cta-bottom-services-v1, .service-v2 .cta-bottom-services-v2, .case-study-v1 .cta-bottom-services-v2, .case-study-v1 .hero-case-study-v1 {
	background-color: #ddd;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #fff;
}
.cta-area-4::after, .service-v1 .cta-bottom-services-v1::after, .service-v2 .cta-bottom-services-v2::after, .case-study-v1 .hero-case-study-v1::after, .case-study-v1 .cta-bottom-services-v2::after, .blog-v1 .hero-blog-v1-bg::after, .blog-v1 .cta-bottom-blog-v1::after {
	background: #333 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.home-v4 .cta-area, .service-v1 .hero-service-v1-area, .service-v2 .hero-service-v2-area {
	background-color: #073b4c;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #fff;
}
.home-v4 .cta-area::after, .service-v1 .hero-service-v1-area::after, .service-v2 .hero-service-v2-area::after {
	background: #073b4c none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.cta-area-4 {
	color: #fff;
	margin-top: 50px;
	padding: 55px 0;
}
.home-v4 a.video-play-btn {
	background: #06d6a0 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 35px;
	height: 70px;
	line-height: 60px;
	margin-top: 25px;
	padding-left: 5px;
	width: 70px;
	padding-top: 3px;
}
.bottom-cta-area {
	font-size: 13px;
	font-weight: 300;
	color: #fff;
}
.bottom-cta-area p {
	margin-bottom: 15px;
}

/*service pages*/

.cta-bottom-services-v1 {
	background-image: url(../img/service-v1/cta-bottom-service-v1-bg.jpg)
}
.cta-bottom-services-v2 {
	background-image: url(../img/service-v2/cta-bottom-service-v2-bg.jpg)
}
.service-v1 .cta-bottom-services-v1::after, .service-v2 .cta-bottom-services-v2::after, .case-study-v1 .cta-bottom-services-v2::after, .case-study-v1 .hero-case-study-v1::after, .blog-v1 .hero-blog-v1-bg::after, .blog-v1 .cta-bottom-blog-v1::after {
	background-color: #073b4c;
	opacity: .6
}

/*================
Pricing box CSS
=================*/

.single-pricing-box {
	border: 1px solid #f3f3f3;
	margin-bottom: 75px;
	padding: 30px;
	transition: .3s;
}
.pricing-content {
	font-size: 17px;
	line-height: 2.3;
}
.pricing-heading {
	border-bottom: 1px solid #f3f3f3;
	color: #999999;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 30px;
	padding-bottom: 15px;
	transition: .3s;
}
.pricing-heading>h4 {
	color: #373737;
	font-size: 20px;
}
.pricing-count {
	color: #ef476f;
	font-size: 50px;
	font-weight: 400;
	line-height: 60px;
	margin: 0;
}
.pricing-content ul {
	list-style: outside none none;
	margin: 0 0 30px;
	padding: 0;
}
.pricing-content .boxed-btn {
	line-height: 1.5;
}
.single-pricing-box:hover {
	border-color: #ef476f;
}
.single-pricing-box:hover .pricing-heading {
	border-bottom-color: #ef476f;
}

/*home 2*/

.home-v2 .pricing-heading {
	background-color: #fbfbfb;
	padding: 30px;
}
.home-v2 .single-pricing-box {
	margin: 0;
	padding: 0;
	transition: all 0.3s ease 0s;
}
.home-v2 .pricing-count {
	color: #0ab8fd;
}
.home-v2 .single-pricing-box p {
	margin: 0;
}
.home-v2 .pricing-content .boxed-btn {
	display: block;
}
.home-v2 .single-pricing-box:hover .pricing-heading {
	border-color: #f3f3f3;
}
.home-v2 .single-pricing-box:hover {
	border-color: #f3f3f3;
}

/*================
    Brand area CSS
=================*/

.single-logo-item {
	display: table;
	height: 100px;
	opacity: 0.7;
	transition: all 0.3s ease 0s;
	width: 100%;
}
.logo-item-inner {
	display: table-cell;
	vertical-align: middle;
}
.single-logo-item:hover {
	opacity: 1;
}

/*================
Footer CSS
=================*/

.footer-area {
	background: #fdfdfd none repeat scroll 0 0;
	padding: 70px 0;
}
.footer-area h4 {
	font-size: 20px;
}
.footer-area, .footer-area a {
	color: #999999;
}
.footer-area ul {
	line-height: 2;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.email-subscribe-form input[type="email"] {
	background-color: #f6f6f6;
	border: medium none;
	margin-right: -4px;
	width: 67%;
}
.email-subscribe-form input[type="submit"] {
	border-radius: 0;
	padding: 10px 0;
	width: 30%;
}
.email-subscribe-form {
	margin-bottom: 35px;
}
.footer-area ul.social-links li {
	display: inline-block;
	margin: 3px 0;
	width: 32%;
}
.footer-area i.fa {
	margin-right: 4px;
}
.footer-area a {
	font-size: 14px;
	transition: all 0.3s ease 0s;
}
.footer-area a:hover {
	color: #ef476f;
}
.copyright-text-area {
	background-color: #f7f7f7;
	padding: 10px 0;
}

/*home 2*/

.home-v2 .footer-area ul li a:hover, .service-v1 .footer-area ul li a:hover, .service-v2 .footer-area ul li a:hover, .case-study-v1 .footer-area ul li a:hover, .blog-v1 .footer-area ul li a:hover {
	color: #06D6A0
}

/*home-3*/

.home-v3 .footer-area ul, .home-v3 .copyright-area ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.home-v3 .footer-area ul li {
	display: inline-block;
	padding: 10px 15px;
}
.home-v3 .footer-area .social-links {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.home-v3 .footer-area .social-links li {
	display: inline-block;
	padding: 9px 5px;
}
.home-v3 .footer-area ul li a {
	color: #888888;
	font-size: 15px;
	transition: all 0.3s ease 0s;
}
.home-v3 .footer-area ul li a:hover, .home-v3 .footer-area .social-links li a:hover, .home-v3 .copyright-area ul li a:hover {
	color: #06d6a0;
}
.home-v3 .footer-area .social-links li a {
	color: #333;
	transition: all 0.3s ease 0s;
}
.home-v3 .footer-area {
	padding: 25px 0;
}
.home-v3 .copyright-area {
	color: #999;
	font-size: 15px;
	padding: 10px 0;
}
.home-v3 .copyright-area ul li {
	display: inline-block;
	padding: 0 25px;
}
.home-v3 .copyright-area ul li a {
	color: #999;
	font-size: 15px;
}
.home-v3 .copyright-area ul li:last-child {
	padding: 0;
}

/*home 4*/

.home-v4 .footer-area {
	background: #073b4c none repeat scroll 0 0;
	color: #fff;
}
.home-v4 .footer-area a, .home-v4 .footer-area h4 {
	color: #fff;
}
.home-v4 .footer-area ul li a {
	transition: all 0.3s ease 0s;
}
.home-v4 .footer-area ul li a:hover {
	color: #06d6a0;
}
.home-v4 .footer-area .email-subscribe-form input[type="email"] {
	color: #333;
	padding: 9px 18px;
}
.home-v4 .email-subscribe-form {
	margin-top: 50px;
}
.home-v4 .footer-area h4 {
	font-weight: 400;
}
.home-v4 .copyright-text-area {
	background: #0f2e38 none repeat scroll 0 0;
	color: #fff;
}
.home-v4 .check-website-form input[type="submit"], .home-v4 .email-subscribe-form input[type="submit"] {
	border: none;
}

/*=================
    About area css
===================*/


/*home-2*/

.about-text-area h3 {
	margin-bottom: 25px;
}
.about-text-area .boxed-btn {
	margin-top: 15px;
}
.about-text-area {
	margin-top: 50px;
}

/*about us page*/

.about-us .hero-service-v1-area {
	background-image: url(../img/about-us/top-about-us-bg.jpg)
}
.about-us .cta-bottom-services-v1 {
	background-image: url(../img/Service-details/Services-det-bottom-bg.jpg)
}
.about-us .our-services-area h2 {
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	color: #373737;
}
.about-us .our-team-area {
	text-align: center;
}
.about-us .our-team-area .section-title h2 {
	font-size: 28px;
	line-height: 45px;
	font-weight: 400;
}
.single-team-member-box {
	display: block;
	transition: .3s
}
.single-team-member-box img {
	max-height: 270px;
	box-shadow: 0 0 35px -10px #d9d9d9;
}
.team-box-meta h4 {
	font-weight: 700;
	color: #373737;
}
.team-box-meta h4 span {
	display: block;
	font-size: 100%;
	opacity: .5;
	font-weight: 300;
	margin-top: 4px;
}
.team-box-meta h4 {
	margin-top: 30px;
}
.about-us .brand-area {
	padding: 40px;
}

/*================
    blog area css
=================*/


/*home-2*/

.single-blog-box {
	border: 1px solid #f5f5f5;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	padding: 40px;
	transition: all 0.3s ease 0s;
}
.single-blog-box h3 {
	font-size: 20px;
	line-height: 1.5;
}
a.blog-readmore-btn {
	color: #06d6a0;
	font-weight: 400;
}
a.blog-readmore-btn i.fa {
	font-size: 10px;
	display: inline-block;
	margin-left: 3px;
}
.single-blog-box:hover {
	background-color: #fbfbfb;
	border: 1px solid #fbfbfb;
}

/*home-3*/

.home-v3 .blog-thumb-bg-1 {
	background-image: url(../img/home-3/our-blog-1.jpg)
}
.home-v3 .blog-thumb-bg-2 {
	background-image: url(../img/home-3/our-blog-2.jpg)
}
.home-v3 .blog-thumb-bg-3 {
	background-image: url(../img/home-3/our-blog-3.jpg)
}
.home-v3 .single-blog-box, .blog-v1 .single-blog-box {
	box-shadow: 0 0 10px #f3f3f3;
	color: #999;
	display: block;
	font-weight: 300;
	padding: 30px;
	cursor: pointer;
	text-decoration: none;
}
.home-v3 .single-blog-box h4, .blog-v1 .single-blog-box h4 {
	line-height: 1.6;
}
.home-v3 .single-blog-box p.blog-meta, .blog-v1 .single-blog-box p.blog-meta {
	font-size: 14px;
}
.home-v3 .blog-thumb-wrapper, .blog-v1 .blog-v1-wrapper {
	background-color: #ddd;
	background-position: center center;
	background-size: cover;
	height: 250px;
	margin: -30px -30px 30px;
}
.home-v3 .single-blog-box p:last-child, .blog-v1 .single-blog-box p:last-child {
	margin: 0;
}

/*blog pages*/

.single-blog h1, .single-blog h2, .single-blog h3, .single-blog h4, .single-blog h5, .single-blog h6 {
	font-weight: 700
}
.single-blog .footer-area h4 {
	font-weight: 400;
	color: #373737
}
.hero-blog-v1-bg {
	background-image: url(../img/blog/hero-blog-v1-bg.jpg)
}
.blog-v1 .hero-blog-v1-bg, .case-study-v1 .hero-case-study-v1, .blog-v1 .cta-bottom-blog-v1 {
	background-color: #dddddd;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #fff;
}
.blog-v1 a.inline-btn {
	color: #06d6a0;
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}
.blog-v1 .header-area .mainmenu ul li:active a {
	color: #06D6A0
}
.blog-v1 .single-blog-box {
	margin-bottom: 30px
}
.blog-v1-bg-1 {
	background-image: url(../img/blog/blog-thumb--bg-1.jpg)
}
.blog-v1-bg-2 {
	background-image: url(../img/blog/blog-thumb--bg-2.jpg)
}
.blog-v1-bg-3 {
	background-image: url(../img/blog/blog-thumb--bg-3.jpg)
}
.blog-v1-bg-4 {
	background-image: url(../img/blog/blog-thumb--bg-4.jpg)
}
.blog-v1-bg-5 {
	background-image: url(../img/blog/blog-thumb--bg-5.jpg)
}
.blog-v1-bg-6 {
	background-image: url(../img/blog/blog-thumb--bg-6.jpg)
}
.blog-v1-bg-7 {
	background-image: url(../img/blog/blog-thumb--bg-7.jpg)
}
.blog-v1-bg-9 {
	background-image: url(../img/blog/blog-thumb--bg-8.jpg)
}
.blog-v1-bg-8 {
	background-image: url(../img/blog/blog-thumb--bg-9.jpg)
}
.cta-bottom-blog-v1 {
	background-image: url(../img/blog/cta-blog-bottom-bg.jpg)
}

/*single blog pages*/

.single-blog-hero-bg-1 {
	background-image: url(../img/single-blog-1/.single-blog-hero.jpg)
}
.single-top-content-img {
	background-image: url(../img/single-blog-1/single-blog-top-bg.jpg)
}
.single-top-content-img {
	background-color: #ddd;
	background-size: cover;
	background-position: center;
	height: 350px;
	margin-bottom: 30px
}
.single-blog-1 p {
	line-height: 24px;
	margin-bottom: 25px;
}
.blog-social-icons ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.blog-social-icons li {
	display: inline-block;
}
.blog-social-icons ul li a {
	background: #275baa none repeat scroll 0 0;
	border-radius: 25px;
	color: #ffffff;
	margin-right: 15px;
	padding: 13px 30px;
	transition: .3s;
}
.blog-social-icons ul li a:hover {
	box-shadow: 0 0 10px gray
}
.blog-social-icons i.fa {
	font-size: 13px;
	margin-left: -8px;
	margin-right: 8px;
}
.blog-social-icons ul li a.twitter {
	background-color: #28C8F0;
}
.blog-social-icons ul li a.pinterest {
	background-color: #D6061E;
}
.blog-social-icons {
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	padding: 40px 0;
	margin-bottom: 40px;
}
.single-blog-author img {
	border-radius: 50%;
	box-shadow: 0 0 10px #f2f2f2;
}
.single-author-meta h4 {
	font-size: 15px;
}
.single-author-meta p {
	line-height: 28px;
}
.single-blog-contact {
	border-top: 1px solid #f0f0f0;
	margin-top: 15px;
}
.single-blog-contact h3 {
	font-size: 22px;
}
.single-blog-contact input {
	width: 100%;
}
.single-blog-contact textarea {
	height: 130px;
	margin-top: 46px;
	width: 100%;
}
.single-blog-contact button[type=submit] {
	background-color: #06d6a0;
	font-weight: 700;
	margin-left: 15px;
	margin-top: 25px;
	padding: 8px 17px;
	transition: .3s
}
.single-blog-contact button[type=submit]:hover {
	background-color: #333
}
.single-blog-contact {
	padding-top: 50px;
}
.single-contact-form {
	margin-top: 35px;
}
.single-blog .single-blog-hero-bg-1 h2 {
	line-height: 1.2;
	color: #fff
}
.blog-v1 .hero-blog-v1-bg h2, .blog-v1 .cta-bottom-blog-v1 h2 {
	color: #ffffff;
}

/*=================
    Slider CSS
==================*/

.slide-bg-1 {
	background-image: url(../img/home-3/slide-bg-1.jpg)
}
.single-slide-item:after {
	background: #1a6fee;
	background: -moz-linear-gradient(left, #1a6fee 0%, #18ccf8 100%);
	background: -webkit-linear-gradient(left, #1a6fee 0%, #18ccf8 100%);
	background: linear-gradient(to right, #1a6fee 0%, #18ccf8 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a6fee', endColorstr='#18ccf8', GradientType=1);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.9;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.single-slide-item {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.single-slide-item {
	background-size: cover;
	background-position: center;
	background-color: aqua
}
.slide-item-wrapper {
	color: #ffffff;
	display: table-cell;
	font-weight: 300;
	line-height: 1.8;
	text-align: center;
	vertical-align: middle;
}
.slide-item-wrapper h2 {
	color: #ffffff;
	font-size: 65px;
	line-height: 75px;
}
.homepage-slides, .homepage-slides div {
	height: 100%;
}

/*home 4*/

.home-v4 .slide-item-wrapper h2 {
	font-size: 43px;
	font-weight: 700;
	line-height: 55px;
}
.home-v4 .single-slide-item {
	background-color: none;
}
.home-v4 .single-slide-item:after {
	display: none
}
.single-slide-item-4 {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}

/*====================
    Get free seo area
======================*/

.check-website-form input {
	margin-right: 2%;
	width: 25%;
}
.check-website-form input[type="submit"] {
	margin-right: 0;
	width: 15%;
}
.check-website-form {
	margin-top: -35px;
}

/*====================
    tile gallery area
=======================*/

.tile-gallery {
	padding-right: 20px;
	position: relative;
}
.tile-gallery img {
	border-radius: 3px;
	box-shadow: 0 0 10px #cfcfcf;
}
.absolute-gallery-img-2 {
	left: 0;
	position: absolute;
	top: 80px;
}
.home-v4 .pt-80 {
	font-weight: 300;
}

/*====================
    team area css
=======================*/

.team .hero-service-v1-area {
	background-image: url(../img/our-team/team-top-bg.jpg)
}
.team .cta-bottom-services-v1 {
	background-image: url(../img/our-team/team-bottom-bg.jpg)
}
.team .single-team-member-box {
	display: block;
	transition: all 0.3s ease 0s;
	margin-bottom: 50px;
}

/*====================
    pricing table area css
=======================*/

.pricing-tables .section-padding.pt-0 h2 {
	font-size: 28px;
	line-height: 37px;
	font-weight: 400;
}
.pricing-tables .hero-service-v1-area {
	background-image: url(../img/pricing-tables/pricing-tables-top-bg.jpg)
}
.pricing-tables .cta-bottom-services-v1 {
	background-image: url(../img/pricing-tables/pricing-tables-bottom-bg.jpg)
}

/*====================
    seo analysis area css
=======================*/

.seo-analysis .hero-area {
	background-image: none
}
.seo-analysis .hero-area {
	background-color: inherit
}
.seo-analysis .hero-area p {
	color: #999999;
}
.seo-analysis .hero-area {
	background-color: inherit;
	line-height: 1.7;
	border: none
}
.seo-analysis .hero-form {
	box-shadow: 3px 3px 3px 4px #f1f1f1;
}
.seo-analysis .hero-area h4 {
	font-size: 22px;
	font-weight: 700;
	color: #373737;
}
.seo-analysis .hero-form {
	box-shadow: 3px 3px 3px 4px #f1f1f1;
}
.seo-analysis .hero-area h4 {
	font-size: 22px;
	font-weight: 700;
	color: #373737;
}
.seo-analysis .single-blog-heading h4 {
	font-size: 22px;
	font-weight: 700;
}
.seo-analysis .single-blog-heading p {
	font-weight: ;
}
.seo-analysis .single-blog-contact {
	border: none
}
.seo-analysis .single-contact-form input[type="email"] {
	margin-top: 30px;
}
.seo-analysis .single-blog-contact {
	padding-top: 0;
}
.seo-analysis .single-blog-contact textarea {
	margin-top: 30px;
}
.seo-analysis .drop-us-area img {
	box-shadow: 0 0 3px 0px #999;
}
.seo-analysis .hero-service-v1-area {
	background-image: url(../img/seo-analysis/seo-hero-top.jpg)
}
.seo-analysis .cta-bottom-services-v1 {
	background-image: url(../img/seo-analysis/seo-hero-bottom.jpg)
}

/*====================
    faq area css
=======================*/

h2.section-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 22px;
	color: #373737;
}
.styled-faq {
	min-height: 475px
}
.styled-faq .panel-default>.panel-heading {
	border: none;
	background: none;
}
.styled-faq .panel-group .panel-default .collapse .panel-body {
	border: none;
}
.styled-faq .panel-group .panel {
	border-radius: 0;
	box-shadow: 0 0 0;
}
.styled-faq .panel-group .panel-heading {
	padding: 0
}
.styled-faq .panel-group .panel-heading h4 a {
	display: block;
	padding: 15px;
}
.styled-faq .panel-group .panel-heading h4 a i.fa {
	float: right;
	line-height: 16px;
	font-size: 100%;
	display: none;
}
.styled-faq .panel .panel-heading h4 a[aria-expanded=true] i.fa.fa-minus {
	display: block;
}
.styled-faq .panel .panel-heading h4 a[aria-expanded=false] i.fa.fa-plus {
	display: block;
}
.faq .panel-group .panel+.panel {
	margin-top: 0px;
}
.panel.panel-default {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #f0f0f0;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 1px medium;
}
.panel.panel-default:last-child {
	border-bottom: 1px solid #F0F0F0;
}

/*====================
    Contact area css
=======================*/

.contact-v2 .right-contact-box {
	color: #999;
	margin: 145px 0;
}
.contact-info a {
	color: #999
}
.contact-v2 .contact-info {
	position: relative;
	padding-left: 55px;
}
.contact-v2 .contact-info i.fa {
	font-size: 30px;
	left: 0;
	position: absolute;
	top: 10px;
	color: #06D6A0;
}
.contact-v2 .right-contact-box p {
	line-height: 32px;
}
.footer-area {padding-bottom: 0}
.copyright-text-area {margin-top: 20px}




.footer-area {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #333;
}
.footer-area h4 {
  color: #fff;
}
.home-page-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 999;
  margin-bottom: 350px;
}