/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .team-bg {
	height: 200px;
	margin-bottom: 35px;
}
 .team-title h3 {
	font-size: 15px;
	padding: 0px 8px;
} 
.team-content span {
	padding-bottom: 16px;
	font-size: 11px;
}
.team-title {
	margin-bottom: -17px;
}
.section-title::before {
	right: -82px;
	top: -32px;
	width: 94%;
}
.section-title {
	margin-top: 112px;
	letter-spacing: 2px;
}
.section-title h2 {
	font-size: 30px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .section-title {
	transform: rotate(0deg);
}
.section-title::before {
	top: 0;
}
.team-title h3 {
	font-size: 10px;
}
.team-content span {
	padding-bottom: 16px;
	font-size: 10px;
}
.section-title h2 {
	font-size: 31px;
}
.section-title::before {
	right: 0;
}
.single-team-item {
	margin-left: -52px;
}
.team-bg {
	width: 250px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}