@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
body {
   font-family: 'Montserrat', sans-serif;
   font-size:17px;
   color:#565656;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}


.section-padding {
	padding: 80px;
}
.team-bg{background-image:url(../images/man-1.jpg)}
.team-bg-1{background-image:url(../images/man-2.jpg)}
.team-bg-2{background-image:url(../images/man-3.jpg)}
.team-bg {
	height: 270px;
	background-position: center top;
	background-size: cover;
	margin-bottom: 40px;
}
.section-title h2 {
	text-transform: uppercase;
	font-size: 35px;
	width: 200px;
}
.section-title {
	position: relative;
	transform: rotate(270deg);
	margin-top: 104px;
}
.section-title::before {
	position: absolute;
	background: #000;
	right: -20px;
	top: -33px;
	width: 60%;
	height: 1px;
	content: "";
}
.team-content span {
	display: inline-block;
	padding-bottom: 20px;
}
.team-content {
	border: 1px solid #333;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
}
.team-title h3 {
	display: inline-block;
	background: #fff;
	font-size: 25px;
	padding: 0px 10px;
}
.team-title {
	margin-top: -13px;
	margin-bottom: -8px;
}
.col-md-4:nth-child(2) .single-team-item {
	margin-top: 108px;
}