/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.section-padding {
  padding: 70px 0px;
}
.feature-1 .feature-bg{background-image: url(../images/img-1.jpg);}
.feature-2 .feature-bg{background-image: url(../images/img-2.jpg);}
.feature-3 .feature-bg{background-image: url(../images/img-3.jpg);}
.feature-4 .feature-bg{background-image: url(../images/img-4.jpg);}

.single-feature-item {
  position: relative;
  z-index: 1;
}
.feature-bg {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 100%;
    content: "";
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    bottom: -50px;
}
.single-box-style {
  background: #fff;
  padding: 40px;
  box-shadow: inset 0 0 10px #ddd;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-left: 110px;
  text-align: justify;
}
.feature-no {
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 50px;
    font-weight: 700;
    opacity: .4;
}
.feature-no:after {
  position: absolute;
  right: 20px;
  top: -25px;
  width: 1px;
  height: 102px;
  content: "";
  background: #000;
  transform: rotate(40deg);
}
.single-box-style{
  border-bottom: 3px solid #fe5d40;
}
.feature-2 .single-box-style{
  border-color: #2ec693;
}
.feature-3 .single-box-style{
  border-color: #b477f9;
}
.feature-4 .single-box-style{
  border-color: #feb858;
}