@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}

/*header-top-area css*/

.header-top-area {
  background: #0B0B0B;
  color: #fff;
  padding: 13px;
}

.header-top-area i.fa {
  color: #FC721E;
  padding-right: 7px;
}
.social-links a {
  display: inline-block;
  height: 33px;
  width: 33px;
  border: 1px solid #636262;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  transition: .4s;
}
.social-links a:hover{
    background: #FC721E;
    border-color: #FC721E;
}
.social-links i.fa {
  padding-right: 0;
  color: #fff;
}
i.fa.fa-phone {
  padding-left: 25px;
}
.social-links {
  display: inline-block;
  padding-left: 25px;
}
.header-top-area span:first-child {
    display: inline-block;
    padding-top: 3px;
}

/*header-area css*/

.mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0px;
}
.mainmenu ul li {
  display: inline-block;
}
.mainmenu ul li a {
    display: block;
    font-weight: 900;
    color: #000;
    padding: 12px;
    border: 1px solid transparent;
    position: relative;
    text-decoration: none;
}
.mainmenu ul li a:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #FC721E;
  content: "";
  transition: .3s;
  transform: scaleX(0);
  opacity: 0;
}
.mainmenu ul li a:hover:after{
  opacity: 1;
 transform:scaleX(1)
}
.site-logo {
  display: inline-block;
  font-size: 20px;
  border: 1px solid;
  padding: 15px 20px;
  margin-bottom: 0;
  transition: .3s;
}
.site-logo:hover{
    border-color:#FC721E; 
    cursor: pointer;
}
.header-area {
  padding: 15px 0px;
}

.item-bg-1{background-image: url(../images/hero-bg.jpg);}
.item-bg-2{background-image: url(../images/hero-bg-2.jpg);}
.item-bg-3{background-image: url(../images/hero-bg-3.jpg);}

.single-slide-item {
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  color: #fff;
   z-index: 1;
   position: relative;
}
.single-slide-item a {
  color: #fff;
}
.single-slide-item:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: .5;
  z-index: -1;
}
.single-slide-item-table {
  display: table;
  width: 50%;
  height: 100%;
}
.single-slide-item-tablecell {
  display: table-cell;
  vertical-align: middle;
  padding: 160px 0px;
}
.single-slide-item-tablecell h1 {
  font-size: 60px;
}
.boxed-btn {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 35px;
  border-radius: 13px;
  transition: .4s;
  margin-right: 5px;
  text-decoration: none;
  margin-top: 30px;
}
.boxed-btn:hover {
  background: #FC721E;
  border-color: #FC721E;
}
.single-slide-item-tablecell p {
  font-size: 14px;
  font-weight: 300;
}

.homepages-slides .owl-dots div {
    height: 25px;
    background: #fff;
    width: 2px;
    margin-right: 5px;
    transition: .3s;
    display: inline-block;
}
.homepages-slides .owl-dots {
    position: absolute;
    left: 11%;
    bottom: 70px;
}
.homepages-slides .owl-dots .active{
    height: 30px;
    background: #FC721E;
}