/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.welcome-area h2 {
	font-size: 34px;
}
.welcome-area h3 {
	font-size: 12px;
	margin-bottom: 30px;
}
.welcome-area {
	display: block;
	width: auto;
	height: 100%;
}
.subscribe-form {
	width: auto;
	margin: 0 auto;
}
.border-area {
	padding: 50px 0px;
}
.border-area div {
	width: 34%;
}
.countdown-wrap {
  font-size: 30px;
}
.single-countdown-item span {
  font-size: 15px;
}
.single-countdown-item {
  margin-left: 10px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 
}