/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/

.section-padding{
    padding: 80px 0;
}
.item-box-bg{background-image: url(../images/item-1.jpg);}
.item-bg-2{background-image: url(../images/item-2.jpg);}
.item-bg-3{background-image: url(../images/item-3.jpg);}

.item-box-bg {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-color: #ddd;
  background-repeat: no-repeat;
  position: relative;
}
.item-box-bg i {
  position: absolute;
  font-size: 40px;
  border: 3px solid #fff;
  background: #25385B;
}

.section-title {
  font-size: 14px;
  color: #919091;
  text-align: center;
  margin-bottom: 40px;
}
.section-title h2 {
  color: #000;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.section-title span {
  color: #0DCBD1;
}
.section-title p {
  margin: 8px 0;
}

.item-box-bg i {
  position: absolute;
  width: 70px;
  height: 70px;
  color: #fff;
  display: block;
  border-radius: 50%;
  left: 50%;
  bottom: 20px;
  margin-left: -35px;
  transition: .5s;
  opacity: 0;
}
.item-box-bg i:before {
  margin: 0;
  font-size: 30px;
  line-height: 60px;
}
.single-item-box {
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}
.single-item-box h2 {
    text-align: center;
    margin: 0;
    padding: 45px 0 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    transition: .5s;
}
.single-item-box:hover h2 {
  background: #25385B;
  color: #fff;
}
.single-item-box:hover .item-box-bg i {
  background: #00C9CF;
  border-color: #25385B;
  opacity: 1;
  bottom: -35px;
}