/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .bordered-btn,.book-btn {
  margin-left: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .book-btn {
  margin-bottom: 25px;
}
.right-side-content h5 {
  font-size: 14px;
}
.box-title h3 {
  font-size: 21px;
}
.box-title {
  margin-bottom: 10px;
}
.right-side-content {
  position: relative;
  text-align: center;
  top: 45px;
}
.right-side-content p {
  margin-bottom: 18px;
}
.single-promo-box h2 {
  font-size: 14px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}