@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }
*{margin:0;padding:0;}

.promo-box-wrap {
    margin-left: -15px;
}

.single-promo-box {
  display: table;
  float: left;
  height: 330px;
  overflow:hidden;
  width: 50%;
  text-align:center;
  background:#fff;
  cursor:pointer;
}
.promo-box-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.single-promo-box:nth-child(2) {
    background-color: #da879b;
}
.single-promo-box:nth-child(3) {
    background-color: #7bbacf;;
}
.single-promo-box h2::before {
    background-color: #da879b;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
}
.single-promo-box i::before {
  color: #000;
  font-size: 60px;
}

.single-promo-box:first-child i::before{color:#DA879B;}
.single-promo-box:nth-child(2) i::before,.single-promo-box:nth-child(3) i::before,
.single-promo-box:nth-child(2) .promo-box-table-cell>h2,
.single-promo-box:nth-child(3) .promo-box-table-cell>h2 {
  color: #fff;
}
.single-promo-box:nth-child(2) .promo-box-table-cell>.book-btn,
.single-promo-box:nth-child(3) .promo-box-table-cell>.book-btn  {
  background:#fff;
  color:#000;
}
.single-promo-box:nth-child(2) .promo-box-table-cell>h2::before,
.single-promo-box:nth-child(3) .promo-box-table-cell>h2::before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
}
.single-promo-box:nth-child(4) .promo-box-table-cell>h2::before{
	background-color: #7BBACF;
}
.single-promo-box:nth-child(4) i::before{
	color:#7BBACF;
}
.single-promo-box h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
    padding-bottom: 40px;
    position: relative;
}
.book-btn {
  background-color: #7bbacf;
  border-radius:22px;
  display: inline-block;
  font-weight: 700;
  padding:15px 40px;
  text-transform: uppercase;
  color:#fff;
  
}
.single-promo-box .book-btn{
  opacity:0;
  transition-duration: 0.5s;
  visibility:hidden;
  background-color: #DA879B;}
  
.single-promo-box:hover .book-btn {
  opacity: 1;
  visibility: visible;
}
.promo-box-table-cell {
  display: table-cell;
  padding-top: 55px;
  vertical-align: middle;
  transition-duration: 0.5s;
}
.single-promo-box:hover .promo-box-table-cell{
	padding-top: 0px;
}

.right-side-content {
  padding-bottom: 128px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
}
.box-title > i {
    color: #7bbacf;
    font-size: 16px;
}
.box-title h3 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
.box-title {
    margin-bottom: 30px;
}
.right-side-content h5 {
    color: #45484d;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.right-side-content p {
    color: #919398;
    font-size: 12px;
    margin-bottom: 80px;
}
.bordered-btn {
    border:2px solid #7bbacf;
	border-radius:18px;
    font-weight: 700;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    text-transform: uppercase;
}
